<section class="tracking">
    <div class="section">
      <div class="section__title">Etapas de la Auditoría</div>
      <div class="section__content">
        <div class="tracking__content">
          <div class="tracking__stepAudi">
            <div class="stepper-horizontal step-audi" id="stepper2">
              <div class="step editing">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/ico-file-earmark-check-fill.svg"/>
                  </div>
                </div>
                <div class="step-title">Requerimiento de información</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/acta-comparecencia.svg" />
                  </div>
                </div>
                <div class="step-title">Acta de comparecencias</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/oficio-observaciones.svg"/>
                  </div>
                </div>
                <div class="step-title">Oficio de observaciones</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/contestacion-aut.svg" />
                  </div>
                </div>
                <div class="step-title">Contestación de la autoridad</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/correccion-fiscal.svg" />
                  </div>
                </div>
                <div class="step-title">Corrección fiscal</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/determinacion-credito.svg" />
                  </div>
                </div>
                <div class="step-title">Determinación de crédito</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle">
                  <div class="step-circle-middle">
                    <img src="assets/img/iconos/fin-auditoria.svg" />
                  </div>
                </div>
                <div class="step-title">Fin de la auditoria</div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
            </div>
            <div class="tracking__subStep">
              <div class="subStep-fechas">
                <div class="fecha-registro">
                  <div>04 Dic 2022</div>
                  <div>17:00</div>
                </div>
                <div class="fecha-registro">
                  <div>04 Dic 2022</div>
                  <div>12:00</div>
                </div>
                <div class="fecha-registro">
                  <div>01 Dic 2022</div>
                  <div>10:30</div>
                </div>
                <div class="fecha-registro">
                  <div>30 Nov 2022</div>
                  <div>18:30</div>
                </div>
                <div class="fecha-registro">
                  <div>24 Nov 2022</div>
                  <div>10:00</div>
                </div>
              </div>
              <div class="stepper-vertical" id="stepper3">
                <div class="step done">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <div class="img-termino"></div>
                    </div>
                  </div>
                  <div class="step-bar-down"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <div class="img-desahogo"></div>
                    </div>
                  </div>
                  <div class="step-bar-down"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <div class="img-prorroga"></div>
                    </div>
                  </div>
                  <div class="step-bar-down"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <div class="img-notificacion"></div>
                    </div>
                  </div>
                  <div class="step-bar-down"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <div class="img-citatorio"></div>
                    </div>
                  </div>
                  <div class="step-bar-down"></div>
                </div>
              </div>
              <div class="subStep-desc">
                <div class="desc-subEtapa">
                  <div>Término</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
                </div>
                <div class="desc-subEtapa">
                  <div>Desahogo</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
                <div class="desc-subEtapa">
                  <div>Prórroga</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
                <div class="desc-subEtapa">
                  <div>Notificación</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
                </div>
                <div class="desc-subEtapa">
                  <div>Citatorio</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
              </div>
              <div class="link-mas">Ver todo</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>