.audit {
  &__columns3_special {
    display: grid;
    gap: 20px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__counterpart {
    @media (min-width: 768px) {
      grid-column-start: 3;
      padding-right: 30px;
    }
  }

  &__columns3 {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__columns2 {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__columns2-rep-leg {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 31.7% 67%;
    }
  }

  &__columns2-Inst-pub {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 44% 0%;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 31px;
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      width: 100%;
    }

    img {
      cursor: pointer;
    }
  }

  &__required {
    color: red;
    font-size: 1rem;
    font-family: var(--main-font-regular);
  }

  // Carga de Archivos
  &__upload {
    margin-bottom: 40px;

    &-content {
      margin-bottom: 10px;
      display: grid;
      align-items: center;
      gap: 20px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    }

    &-file {
      @media (min-width: 768px) {
        grid-column-start: 3;
        padding-right: 50px;
      }
    }

    &-add {
      font-family: var(--main-font-regular);
      font-size: 1.4rem;
      line-height: 1.8;
      color: var(--main-color);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // Equipo
  &__team {
    margin-bottom: 40px;

    &-content {
      margin-bottom: 10px;
      display: grid;
      align-items: center;
      gap: 20px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    }

    &-column2 {
      grid-column-start: 3;
      padding-right: 50px;
    }

    &-add {
      font-family: var(--main-font-regular);
      font-size: 1.4rem;
      line-height: 1.8;
      color: var(--main-color);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // Contencioso
  &__contentious {
    margin-bottom: 40px;
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  // Chips equipo
  &__chips {
    margin-bottom: 40px;

    &-content {
      width: 100%;
      height: 80px;
      padding: 10px;
      background-color: #faf8f8;
      border: 0.5px solid #e3e3e3;

      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;

      div {
        display: flex;
        gap: 5px;
      }
    }
  }

  .p-chip {
    padding: 0 1rem;
    border-radius: 16px;
    border: 0.5px solid #e3e3e3;

    font-size: 1.2rem;
    font-family: var(--main-font-regular);
    background-color: var(--color-blanco);
    color: #747474;
  }
}

.detail {
  &__section {
    padding: 20px 10px;
  }

  &__container {
    background-color: var(--color-blanco);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
  }

  &__title {
    margin-bottom: 5px;
    font-family: var(--main-font-regular);
    font-size: 1.4rem;
    color: #43413b;
  }

  &__header {
    padding: 20px;
    border-bottom: 1px solid #00000029;
    display: grid;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-left {
      span {
        display: block;
        line-height: 1.6;

        &:nth-child(1) {
          font-size: 1.6rem;
          font-family: var(--main-font-bold);
        }

        &:nth-child(2) {
          font-size: 1.2rem;
          font-family: var(--main-font-medium);
        }
      }
    }

    &-right {
      font-size: 1.6rem;
      line-height: 1.6;
      text-align: right;
      font-family: var(--main-font-medium);
      span {
        font-family: var(--main-font-bold);
      }
    }
  }

  &__body {
    padding: 20px;
    border-bottom: 1px solid #00000029;
    display: grid;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-label {
      font-family: var(--main-font-regular);
      font-size: 1.2rem;
      line-height: 1.8;
    }
  }

  &__body-label {
    margin-bottom: 17px;
  }

  &__footer {
    padding: 20px;

    ul {
      padding: 0;
      margin-left: 20px;

      li {
        margin-bottom: 15px;
        font-family: var(--main-font-regular);
        font-size: 1.2rem;
        line-height: 2;
      }
    }
  }

  &__paginator {
    padding: 15px 0 0 0;
    .p-inputtext {
      padding: 0;
    }
    .p-paginator {
      background: #f3f2f2;
      border: solid #f3f2f2;
    }
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
      background: #bde6ba;
      border-color: #bde6ba;
      color: #000000;
    }
  }
}

.detail-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-link {
  font-family: var(--main-font-demi);
  color: #3684b1;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}

.d-flex-auditoria {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    &:nth-child(2) {
      span {
        display: block;
        font-size: 1.4rem;

        &:nth-child(1) {
          font-family: var(--main-font-demi);
        }

        &:nth-child(2) {
          font-family: var(--main-font-regular);
        }
      }
    }
  }
}

// Detalle área (Colaborador)
.detailArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__content {
    display: flex;
    gap: 10px;

    div {
      width: 100%;
    }
  }
}

.space-ver-mas {
  margin-left: 47px;
}

.space-bottom {
  margin-bottom: 83px;
}

.inputTextArea {
  div{
    p-chip{
      padding-right: 10px;
      padding-bottom: 10px;
      
      .p-chip {
        background-color: #fff !important;
        color: #3684B1 !important;
        border-radius: 16px;
        padding: 0 0.5rem;
        border: 1px solid #3684B1 !important;
        margin-bottom: 10px;
      }
    }

    p-chip .p-chip-text{
      font-size: 14px;
      margin: 7px 15px 7px 15px;
    }
  }
}

//Tabla requerimientos en Auditoría

/**************CATALOGS***************/
.content-items-to-show{
  display: flex;
  justify-content: end;
  margin-bottom: 13.57px;
  margin-top: 13.57px;

  label{
    margin: 5px 19px 5px 0px;
    justify-items: center;
  }

  p-dropdown{
    width: 66px;
  }
}

.p-datatable .p-datatable-thead > tr > th, 
.p-datatable .p-datatable-tbody > tr > td, 
.p-dropdown-item,
.p-dropdown-label{
  font-size: 1.2rem !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  border-bottom: 1px solid #ececec;
}

.p-fluid .p-dropdown .p-dropdown-label,
.p-dropdown-items{
  text-align: center !important;
}
