.middleBoard {
  display: grid;
  grid-template-columns: 12fr;
  gap: 20px;
}

.dataSheet {
  &__file {
    width: 100%;
    height: 220px;
    background-color: var(--color-blanco);
    box-shadow: 0px 3px 6px #00000029;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      width: 157px;
      height: 120px;
      margin-bottom: 10px;
    }

    &-title {
      font-size: 1.4rem;
      font-family: var(--main-font-demi);
      color: var(--color-text-74);
    }

    &-subTitle {
      font-size: 1.2rem;
      font-family: var(--main-font-regular);
      text-align: center;
    }
  }
}

// Bottom Board

.dashboardBottom {
  display: grid;
  gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  &__columnOne {
    background-color: #f3f2f2;
    @media (min-width: 768px) {
      grid-column: 1/3;
    }
  }
  &__columnTwo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
      grid-column: 3/4;
    }
  }
}

.pending {
  &__content {
    width: 100%;
    background-color: var(--color-blanco);

    ul {
      padding: 0;
      margin: 0;

      li {
        position: relative;
        padding: 12px 10px 12px 30px;
        border-bottom: 1px solid #d6d6d6;

        font-size: 1.2rem;
        font-family: var(--main-font-regular);

        list-style: none;
        display: flex;
        align-items: center;

        &:before {
          position: absolute;
          width: 8px;
          height: 8px;
          content: " ";
          background-image: url("../img/board/ico-list-style.svg");
          background-repeat: no-repeat;
          left: 15px;
        }
      }
    }

    // Table

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        th {
          color: var(--color-gris2);
          font-size: 12px;
          font-family: var(--main-font-medium);
          text-align: left;
          padding: 10px;
          border-bottom: 1px solid #d6d6d6;

          &:nth-child(2) {
            text-align: center;
          }
        }

        td {
          padding: 10px;
          border-bottom: 1px solid #d6d6d6;
          font-size: 1.2rem;
          font-family: var(--main-font-regular);

          &:nth-child(2) {
            text-align: center;
          }
        }

        &:last-of-type {
          td {
            border: none;
          }
        }
      }
    }
  }

  &__ico {
    width: 15px;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-rojo);
    margin-right: 8px;
    display: inline-block;
  }

  &__plus {
    padding: 20px 0;
    text-align: center;
    a {
      display: block;
      font-size: 1.2rem;
      font-family: var(--main-font-demi);
      color: var(--main-color);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// Requerimiento de información / Avence Total
.summary {
  margin: 10px 0;
  padding: 10px;
  background: var(--color-blanco);
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000029;

  &__advance {
    font-family: var(--main-font-demi);
    font-size: 1.2rem;

    display: grid;
    grid-gap: 20px;
    gap: 20px;
    align-items: center;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .p-progressbar {
    .p-progressbar-value {
      background: var(--color-avance-total);
      .p-progressbar-label {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.informationArea {
  border-radius: 3px;
  background: var(--color-blanco);
  box-shadow: 0px 3px 6px #00000029;

  &__table {
    .p-datatable-thead {
      th {
        color: var(--color-gris2);
        font-size: 12px;
        font-family: var(--main-font-regular);
        text-align: left;
        padding: 10px;
        background-color: var(--color-blanco);
        width: 33.33%;

        &:nth-child(2) {
          text-align: center;
        }
      }
    }

    .p-datatable-tbody {
      font-size: 1.2rem;

      .p-progressbar {
        .p-progressbar-value {
          background: var(--color-avance-tabla);
          .p-progressbar-label {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    p-progressbar.p-element {
      width: 100%;
    }
  }
}

.informationAreaOficio {
  border-radius: 3px;
  background: var(--color-blanco);
  box-shadow: 0px 3px 6px #00000029;

  &__table {
    .p-datatable-thead {
      th {
        color: var(--color-gris2);
        font-size: 12px;
        font-family: var(--main-font-regular);
        text-align: left;
        padding: 10px;
        background-color: var(--color-blanco);

        &:nth-child(2) {
          text-align: center;
          min-width: 150px;
        }

        &:nth-child(3) {
          text-align: center;
        }
      }
    }

    .p-datatable-tbody {
      font-size: 1.2rem;

      tr {
        td {
          &:nth-child(3) {
            text-align: center;
          }
        }
      }

      .p-progressbar {
        .p-progressbar-value {
          background: var(--color-avance-tabla);
          .p-progressbar-label {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    p-progressbar.p-element {
      width: 100%;
    }
  }
}

// Dashboard Colbaborador

.collaborate {
  &__middle {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  &__bottom {
    &-content {
      display: grid;
      gap: 20px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-req {
      @media (min-width: 768px) {
        grid-column: 1/3;
      }
    }

    &-task {
      @media (min-width: 768px) {
        grid-column: 3/4;
      }

      table {
        thead {
          tr {
            th {
              &:nth-child(2) {
                text-align: center;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              &:nth-child(2) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  table {
    .p-datatable-thead {
      tr {
        th {
          &:nth-child(2) {
            width: 250px;
          }
          &:nth-child(3) {
            text-align: center;
          }
        }
      }
    }
    .p-datatable-tbody {
      tr {
        td {
          &:nth-child(3) {
            text-align: center;
          }
        }
      }
    }
  }
}

// Tabla de Requerimiento Colbadorador

.information {
  background-color: var(--color-blanco);

  &__table {
    .p-datatable-thead {
      th {
        color: var(--color-gris2);
        font-size: 12px;
        font-family: var(--main-font-regular);
        text-align: left;
        padding: 10px;
        background-color: var(--color-blanco);
      }
    }

    .p-datatable-tbody {
      font-size: 1.2rem;

      .p-progressbar-label {
        position: absolute;
        right: 0;
        top: 0;
      }

      tr {
        td {
          .p-progressbar-value {
            background: var(--color-avance-tabla);
            .p-progressbar-label {
            }
          }
        }
      }
    }
  }

  p-progressbar.p-element {
    width: 100%;
  }
}
