.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }

  &__content {
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    @media (min-width: 768px) {
      width: 100%;
      max-width: 210px;
    }
  }

  &__cards {
    .p-card {
      height: 90px;
      padding: 10px;
      border-radius: 3px;

      box-shadow: 1px 1px 2px #00000029;
      background-color: var(--color-blanco);

      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      .p-card-header {
        font-size: 1.1rem;
        font-family: var(--main-font-regular);
        color: var(--main-color-texto);
      }

      .p-card-body {
        padding: 0;
      }

      .p-card-content {
        padding: 5px 0;
        font-size: 1.4rem;
        font-family: var(--main-font-medium);
        color: var(--main-color-texto);
      }

      .p-card-footer {
        padding-bottom: 10px;
        font-size: 1rem;
        font-family: var(--main-font-regular);
        font-style: italic;
        color: var(--color-gris-claro);
      }
    }
  }

  &__active {
    border: 1px solid var(--color-negro);
  }

  &__inactive {
    border: none;
  }

  &__informative {
    border-left: 5px solid var(--estatus-listo);
  }

  &__entregadoMal {
    border-left: 5px solid var(--estatus-entregadoMal);
  }

  &__entregadoCambios {
    border-left: 5px solid var(--estatus-entregadoCambios);
  }
}

.dataSheets {
  padding: 0 20px 20px;
  border-radius: 3px;
  background-color: var(--color-blanco);
  box-shadow: 0px 3px 6px #00000029;

  &__header {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-gris-claro2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    div {
      &:nth-child(1) {
        span {
          display: block;

          &:nth-child(1) {
            font-size: 1.6rem;
            font-family: var(--main-font-bold);
          }

          &:nth-child(2) {
            font-size: 1.2rem;
            font-family: var(--main-font-regular);
          }
        }
      }
      &:nth-child(2) {
        span {
          display: block;
          font-family: var(--main-font-regular);

          &:nth-child(1) {
            font-size: 1.4rem;
            color: #43413b;
          }

          &:nth-child(2) {
            font-size: 1.2rem;
            color: var(--color-negro);
          }
        }
      }
      &:nth-child(3) {
        font-size: 1.6rem;
        font-family: var(--main-font-medium);
        span {
          display: block;
          font-family: var(--main-font-bold);
        }
      }
    }
  }

  &__body {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-gris-claro2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    div {
      span {
        display: block;
        font-family: var(--main-font-regular);

        &:nth-child(1) {
          font-size: 1.4rem;
          color: #43413b;
        }

        &:nth-child(2) {
          font-size: 1.2rem;
          color: #000000;
        }
      }
    }
  }

  &__dates {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-gris-claro2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    div {
      span {
        display: block;
        font-family: var(--main-font-regular);

        &:nth-child(1) {
          font-size: 1.4rem;
          color: #43413b;
        }

        &:nth-child(2) {
          font-size: 1.2rem;
          color: #000000;
        }
      }
    }
  }

  &__footer {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    div {
      span {
        display: block;
        font-family: var(--main-font-regular);

        &:nth-child(1) {
          font-size: 1.4rem;
          color: #43413b;
        }

        &:nth-child(2) {
          font-size: 1.2rem;
          color: #000000;
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}
