.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }

  &__content {
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    @media (min-width: 768px) {
      width: 20%;
      max-width: 200px;
    }
  }

  &__cards {
    .p-card {
      height: 90px;
      padding: 10px;
      border-radius: 3px;

      box-shadow: 1px 1px 2px #00000029;
      background-color: var(--color-blanco);

      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      .p-card-header {
        font-size: 1.1rem;
        font-family: var(--main-font-regular);
        color: var(--main-color-texto);
      }

      .p-card-body {
        padding: 0;
      }

      .p-card-content {
        padding: 5px 0;
        font-size: 1.4rem;
        font-family: var(--main-font-medium);
        color: var(--main-color-texto);
      }

      .p-card-footer {
        padding-bottom: 10px;
        font-size: 1rem;
        font-family: var(--main-font-regular);
        font-style: italic;
        color: var(--color-gris-claro);
      }
    }
  }

  &__active {
    border: 1px solid var(--color-negro);
  }

  &__inactive {
    border: none;
  }

  &__informative {
    border-left: 5px solid var(--estatus-listo);
  }

  &__entregadoMal {
    border-left: 5px solid var(--estatus-entregadoMal);
  }

  &__entregadoCambios {
    border-left: 5px solid var(--estatus-entregadoCambios);
  }
}

.dataFicha {
  background-color: var(--color-blanco);
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #00000029;

  &_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 13px;

    .header-titulo {
      h3 {
        font-size: 16px;
        font-family: var(--main-font-bold);
        margin-bottom: 0;
      }
      div {
        font-size: 12px;
        font-family: var(--main-font-regular);
      }
    }
    .header-monto {
      font-size: 16px;
      font-family: var(--main-font-medium);

      span {
        font-family: var(--main-font-bold);
      }
    }
  }

  &_body {
    max-width: 80%;

    .body-detalles {
      display: grid;
      grid-gap: 20px;
      gap: 20px;
      padding: 13px 0;
      font-family: var(--main-font-regular);

      @media (min-width: 768px) {
        grid-template-columns: 3fr 3fr 3fr;
      }

      div {
        span {
          display: block;

          &:nth-child(1) {
            margin-bottom: 5px;
            font-size: 1.4rem;
            color: #43413b;
          }

          &:nth-child(2) {
            font-size: 1.2rem;
            color: #000000;
          }
        }
      }
    }
  }

  &_footer {
    display: flex;
    justify-content: flex-end;
  }
}
