.styleInput {
  // display: block;

  label {
    display: block;
    font-size: 1.4rem;
    line-height: 2;
    font-family: var(--main-font-regular);
    color: var(--color-negro);
  }

  .label-checks {
    display: flex;
    margin-bottom: 20px;

    p-checkbox {
      margin-right: 10px;
    }
  }

  .height-label {
    height: 28px;
  }

  input {
    height: 32px;
    border: 0.5px solid #e3e3e3;
    font-size: 1.4rem;
    line-height: 3.2rem;
    background-color: var(--color-blanco);

    &::placeholder {
      font-size: 1.2rem;
      font-style: italic;
      color: var(--color-text-74);
    }
  }

  textarea {
    height: 111px;
    border: 0.5px solid #e3e3e3;
    font-size: 1.4rem;
    line-height: 3.2rem;
    background-color: var(--color-blanco);
    width: 100%;

    &::placeholder {
      font-size: 1.2rem;
      font-style: italic;
      color: var(--color-text-74);
      padding-left: 10px;
      font-family: "AvenirNextLTPro-Medium";
      font-weight: 100 !important;
    }
  }

  &__radioButton {
    display: flex;
    gap: 30px;
  }

  .p-dropdown {
    width: 100%;
    border: 0.5px solid #e3e3e3;

    .p-dropdown-label.p-placeholder {
      font-size: 1.2rem;
      font-style: italic;
      color: var(--color-text-74);
    }
  }

  p-autocomplete {
    width: 100%;

    .p-autocomplete {
      width: 100%;
    }
  }

  .p-calendar {
    width: 100%;

    input {
      border: 0.5px solid #e3e3e3;
      background-image: url(../img/iconos/ico-calendar.svg);
      background-repeat: no-repeat;
      background-position: 98% 50%;
      background-color: var(--color-blanco);
      cursor: pointer;
    }
  }

  .p-inputtext {
    width: 100%;
    font-family: var(--main-font-regular);
    font-size: 1.4rem;
  }

  &__disabled {
    input {
      border: 2px solid #e3e3e3;
      background-color: #fcfafa;
      pointer-events: none;
    }
  }

  &__download {
    width: 100%;
    max-width: 400px;
    height: 32px;
    padding: 0px 1.25rem;

    background-color: var(--main-color);
    border: 0.5px solid #e3e3e3;

    font-size: 1.2rem;
    line-height: 3.2rem;
    color: var(--color-blanco);

    background-image: url(../img/iconos/ico-file-earmark-pdf-fill.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
  }
}

.field-radiobutton {
  display: flex;
  gap: 5px;

  label {
    font-size: 1.4rem;
    line-height: 2;
    font-family: var(--main-font-regular);
    color: var(--color-negro);
  }
}

/*Input file*/

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  font-size: 1.4rem;
}

.inputFile + label {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0px 1.25rem;

  background-color: var(--color-blanco);
  border: 0.5px solid #e3e3e3;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  font-size: 1.2rem;
  line-height: 3.2rem;
  font-style: italic;
  color: var(--color-text-74);

  background-image: url(../img/iconos/ico-file.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.inputFileLoaded + label {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0px 1.25rem;

  background-color: var(--main-color);
  border: 0.5px solid #e3e3e3;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  font-size: 1.2rem;
  line-height: 3.2rem;
  font-style: italic;
  color: var(--color-blanco);

  background-image: url(../img/iconos/ico-file-earmark-pdf-fill.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.u-txt-black {
  font-size: 1.4rem;
  font-style: normal;
}

.u-txt-white {
  font-size: 1.4rem;
  font-style: normal;
  color: var(--color-blanco);
}

.no-display {
  display: none;
}

.content_type_docs {
  width: 100%;
  padding: 20px 10px 0px 10px;

  .bg-type-docs {
    border-radius: 17px;
    border: 1px solid #c6c6c6;
    display: inline-block;
    width: auto;
    height: 30px;
    color: #7a7a7a;
    text-align: center;
    background-color: #fff;
    margin-right: 13px;
    margin-bottom: 10px;
    padding: 4px 10px 4px 9px;

    .ico-delet-type-docs {
      margin-left: 14px;
      float: right;
      cursor: pointer;
    }
  }
}

.add-rep-leg,
.add-inst-pub {
  margin-top: 8.7px;
}

.input-space-top {
  margin-top: 23px;
}

.input-file-margin-bottom {
  margin-bottom: 35px;
}

.top_link {
  margin-top: -14px;
}

.catalogs {
  form {
    margin-bottom: 83px;
    margin-top: 40px;
  }
}

.content-search-catalog {
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 33px 0px 81px 0px;

  p-autoComplete {
    height: 32px;

    span {
      input {
        background-image: url("../../assets/img/iconos/ico-search.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-origin: content-box;
      }
    }
  }

  .buttons-content-search-catalog {
    margin-left: 11px;

    button {
      width: 100%;
      height: 32px;
    }
  }
}

@media (max-width: 636px) {
  .content-search-catalog {
    grid-template-columns: 70% 30%;
  }
}

.count-characters {
  font-size: 12px;
  text-align: right;
  font-family: "Avenir_Next_Demi_Bold";
  color: #a6a6a6;
  margin-top: 5px;
}

.status-characters-max {
  color: var(--color-rojo);
}

/*TYPE DOCUMENTS IN REQUERIMENT MODAL */
.btn-size-complete {
  width: 140px;
  height: 32px;
}
