:root{
  --mainColor: #3684b1;
  --color-text-btn: #fff;
  --color-border-top: #3684b1;
  --color-background: #fff;
  --color-btn: #206084;
  --color-line-events: #eaeaea;
  --color-title: #000;
  --color-text-event: #000;
  --color-bg-start-event: green;
  --color-bg-end-event: red;

}

/*HEADER*/
.fc .fc-header-toolbar {
  display: inline-block !important;
  width: 100%;
}

.fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
  display: inline-block;
}

.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right,
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left {
  font-size: 2rem !important;
}

.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right:before,
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left:before {
  font-weight: bolder;
}

.fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
  display: inline-block;
  margin-left: 24px;

  /*TITULO MES*/
  .fc-toolbar-title {
    text-transform: capitalize;
    font-size: 30px !important;
    font-family: "Avenir_Next_Demi_Bold";
  }
}

/*BOTONES PREV Y NEXT*/
.fc.fc-theme-standard .fc-toolbar .fc-button {
  color: var(--color-text-btn);
  background: var(--color-btn) !important;
  border: 1px solid var(--color-btn) !important;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
  box-shadow 0.2s;
  border-radius: 3px;
}

.fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
  display: inline-block;
  float: right;
}

@media screen and (max-width: 737px) {
  .fc .fc-header-toolbar {
    display: block !important;
  }

  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
    display: block;
  }

  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    display: block;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    display: block;
    float: left;
  }
}

/*BOTON DE HOY, DESAPARECER*/
// .fc .fc-header-toolbar .fc-toolbar-chunk .fc-today-button {
//   display: none;
// }
/**************************************/

/*BOTONES MES, SEMANA, DIA*/
// .fc.fc-theme-standard
//   .fc-toolbar
//   .fc-button.fc-dayGridMonth-button.fc-button-active,
// .fc.fc-theme-standard
//   .fc-toolbar
//   .fc-button.fc-timeGridWeek-button.fc-button-active,
// .fc.fc-theme-standard
//   .fc-toolbar
//   .fc-button.fc-timeGridDay-button.fc-button-active {
//   background: var(--color-btn) !important;
//   border-color: var(--color-btn) !important;
// }

// .fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button,
// .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button,
// .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button {
//   background: var(--mainColor) !important;
//   border-color: var(--mainColor) !important;
//   color: #fff !important;
// }

// .fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:hover,
// .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:hover,
// .fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:hover {
//   background: var(--color-btn) !important;
//   border-color: var(--color-btn) !important;
//   color: #fff !important;
// }

// .fc .fc-button-group button {
//   width: 61px;
//   height: 40px;
//   font-size: 12px !important;
// }
/**************************************/

/*LINEA EVENTO*/
a.fc-h-event {
  background-color: var(--color-line-events) !important;
  border: 1px solid var(--color-line-events) !important;
}
/**********************************/

/*HORA DE INICIO DE EVENTO, OCULTO*/
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  display: none;
}
/**********************************/

/*NOMBRE DIAS*/
.fc.fc-theme-standard a {
  text-transform: capitalize;
}
/*********************/

/*NUMERO DIA*/
.fc .fc-daygrid-day-number {
  font-weight: 700;
}
/**************************************/

/*TITULO DEL EVENTO*/
a.fc-h-event .fc-event-title-container {
  height: 43px;

  .fc-event-title {
    color: var(--color-title) !important;
  }
}
/**************************************/

.fc-daygrid-event-harness{
  z-index: 0;
}

.content-event{
  display: inline-block;
  width: 100%;
  color: var(--color-text-event) !important;
  font-size: 13px;

  .bg-start-event{
    background-color: var(--color-bg-start-event);
    width: 12px;
    height: 12px;
    border-radius: 10px;
    display: inline-block;
  }

  .bg-end-event{
    background-color: var(--color-bg-end-event);
    width: 12px;
    height: 12px;
    border-radius: 10px;
    display: inline-block;
  }
}

.content-event.end{
  z-index: 1;
  margin-bottom: 5px
}

.fullCalendar {
  padding: 10px;
  background-color: var(--color-background);

  @media (min-width: 768px) {
    padding: 40px;
  }
}

.calendarFull {
  &__content {
    width: 100%;
    height: auto;
    padding: 10px;
    border-top: 2px solid var(--color-border-top);

    @media (min-width: 768px) {
      padding: 40px;
    }
  }
}

.action-detail{
  cursor: pointer;
}
