.container-gantt {
    background-color: #FFFFFF;
    padding: 0.5em 2em;

    .gantt-year {
        margin: 0.5em auto;
        display: flex;
        justify-content: center;
    }
}

:root{
    --plazo-interno-color: #B6DDAC;
    --plazo-ley-color: #3684B1;
    --color-dashed: #EAEAEA;
}

.gantt-chart{
    height: max-content;
    min-height: 50vh;

    * {
        font-weight: bold;
        color: black;
    }
}

.gantt_scale_cell {
    color: black !important;
    font-size: 1.2em;
}

.gantt-scale-title {

    line-height: 30px;
    div {
        height: 30px!important;
    }
    
    .gantt-grid-4{
        display: grid;
        grid-template-columns: repeat(4,1fr);

        div {
            font-size: 0.7em;
            display: flex;
            flex-direction: column;
            border-top: 1px dashed var(--color-dashed);
            border-right: 1px dashed var(--color-dashed);
            span {
                height: 15px;
                line-height: 15px;
            }
        }

        div:nth-child(4){
            border-right: none !important;
        }
    }
}

.gantt_scale_line,.gantt_grid_head_cell {
    background-color: #F5F5F5 !important;
}

.gantt_row.gantt_row_task:nth-child(even),.gantt-row-gray{
    
    background-color: #F5F5F5 !important;
}

.gantt-week-taskcell-dashed {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 20px;

    >div {
        
        border-right: 1px dashed var(--color-dashed);
    }

    >div:nth-child(4){
        border-right: none !important;
    }
}

.gantt-plan{
    background-color: var(--plazo-interno-color);
    border: 0.2em solid var(--plazo-interno-color);
    border-radius: 50px !important;

    .gantt_task_progress {
        background-color: var(--plazo-interno-color);
    }

}

.gantt-task{
    background-color: var(--plazo-ley-color);
    border: 0.2em solid var(--plazo-ley-color);
    border-radius: 50px !important;

    .gantt_task_progress {
        background-color: var(--plazo-ley-color);
    }
}

.gantt_row_task.odd, .gantt_task_progress_drag,.gantt_link_point {
    display:none !important;
}

.gantt_row_task {
    height: 40px!important;
    line-height: 40px!important;
    cursor: pointer;
}

.gantt_task_row {
    border-bottom: none;
}

.gantt_task_row.odd,.gantt_row_task {
    border-bottom: 1px dashed #ebebeb;
}

.gantt_tree_content {
    display: grid; 
    align-items: center;
    line-break: auto;
    white-space: break-spaces;
    line-height: 18px;
}

.content-bg-gantt{
    margin-top: 17px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    .line{
        display: flex;
        align-items: center;
        margin-right: 32px;
        
        div{
            border-radius: 50px;
            margin-right: 7px;
            width: 17px;
            height: 17px;
        }

        span{
            font-weight: 700;
            font-size: 11px;
        }
    }

    .bg-gantt{
        &__interno{
            background-color: var(--plazo-interno-color);
        }

        &__ley{
            background-color: var(--plazo-ley-color);
        }
    }
}

.gantt_grid_data .gantt_row.gantt_selected, 
.gantt_grid_data .gantt_row.odd.gantt_selected, 
.gantt_task_row.gantt_selected,
.gantt_grid_data .gantt_row.odd:hover, 
.gantt_grid_data .gantt_row:hover{
    background: none !important;
}

.gantt_layout_cell_border_right {
    border-right: 1px solid var(--color-dashed);
}

.gantt_grid_scale, .gantt_task_scale{
    border-bottom: 1px solid var(--color-dashed);
}