.chat {
  display: grid;
  grid-gap: 20px;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 6fr 2fr;
  }

  &__content {
    padding: 10px 0;
    box-sizing: border-box;
  }

  &__box {
    height: 260px;
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--color-blanco);
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 15px;
  }

  &__message {
    width: 100%;
    min-height: 51px;
    max-width: 400px;
    font-size: 1.2rem;
    border-radius: 3px;
    padding: 8px 13px;
    box-sizing: border-box;

    div {
      color: var(--color-text-74);
      font-size: 1.2rem;
      &:nth-child(1) {
        font-family: var(--main-font-regular);
      }
      &:nth-child(2) {
        font-family: var(--main-font-medium);
        font-style: italic;
      }
    }
  }

  &__sending {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .p-field {
      width: 100%;

      @media (min-width: 768px) {
        width: 80%;
      }

      input {
        height: 40px;
      }
    }
    .buttons-content {
      margin: 0;
    }
  }
}

.term {
  &__time {
    text-align: center;
    font-family: var(--main-font-medium);
    font-size: 1.8rem;
    color: #5c5c5c;
  }
}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blanco);
  font-family: var(--main-font-medium);
  padding: 2rem;
  box-sizing: border-box;

  &__image {
    width: 20px;
    height: 26px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    text-align: center;
    font-family: var(--main-font-demi);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
  }

  &__text {
    max-width: 80%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--color-text-74);
  }

  &__ico {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-text-74);
  }

  &__link {
    cursor: pointer;
    color: var(--main-color);
    font-family: var(--main-font-demi);
    text-decoration: underline;
    font-size: 1.2rem;
  }
}

// Modal Requerimiento de información

.modalReq {
  .p-dialog {
    position: relative;
    width: 100%;

    padding: 10px 10px 20px;
    font-family: var(--main-font-regular);
    background-color: var(--background-gris);

    @media (min-width: 768px) {
      width: 100%;
      max-width: 1024px;
      max-height: 450px;
    }

    .p-dialog-header {
      padding: 15px 0;
      border-bottom: 2px solid var(--main-color);
      background-color: var(--background-gris);

      .p-dialog-title {
        font-size: 1.8rem;
        font-family: var(--main-font-demi);

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }

      .p-dialog-header-icons {
        .pi {
          font-size: 1.8rem;
        }
      }
    }

    .p-dialog-content {
      padding: 0;
    }
  }

  .p-dialog-mask {
    padding: 10px;
    @media (min-width: 1024px) {
      padding: 0px;
    }
  }
}

// Modal Versiones desahogo oficio

.dialogReq {
  .p-datatable {
    .p-datatable-thead {
      tr {
        th {
          font-size: 1.2rem;
          font-family: var(--main-font-medium);
          color: var(--color-gris2);
          background-color: var(--color-blanco);

          &:nth-child(1) {
            width: 150px;
          }

          &:nth-child(3) {
            width: 150px;
          }
        }
      }
    }
    .p-datatable-tbody {
      tr {
        td {
          font-size: 1.2rem;
          font-family: var(--main-font-regular);
          color: var(--color-negro);
          background-color: var(--color-blanco);
        }
      }
    }
  }

  &__text {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Requerimiento de información

.modalRelief {
  .p-dialog {
    position: relative;
    width: 100%;

    padding: 10px 10px 20px;
    font-family: var(--main-font-regular);
    background-color: var(--background-gris);

    @media (min-width: 768px) {
      width: 100%;
      max-width: 768px;
      max-height: 450px;
    }

    .p-dialog-header {
      padding: 15px 0;
      border-bottom: 2px solid var(--main-color);
      background-color: var(--background-gris);

      .p-dialog-title {
        font-size: 1.8rem;
        font-family: var(--main-font-demi);

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }

      .p-dialog-header-icons {
        .pi {
          font-size: 1.8rem;
        }
      }
    }

    .p-dialog-content {
      padding: 0;
    }
  }

  .p-dialog-mask {
    padding: 10px;
    @media (min-width: 1024px) {
      padding: 0px;
    }
  }
}

.dialogRelief {
  .p-datatable .p-datatable-thead > tr > th {
    font-size: 1.2rem;
    font-family: var(--main-font-medium);
    color: var(--color-gris2);
    background-color: var(--color-blanco);
  }

  .p-datatable .p-datatable-tbody > tr > td {
    font-size: 1.1rem;
    font-family: var(--main-font-regular);
    color: var(--color-negro);
    background-color: var(--color-blanco);
  }
}

// Avance del proyecto

.advance {
  background-color: var(--color-blanco);

  &__table {
    .p-datatable-thead {
      th {
        color: var(--color-gris2);
        font-size: 12px;
        font-family: var(--main-font-regular);
        text-align: left;
        padding: 10px;
        background-color: var(--color-blanco);
      }
      th:nth-of-type(3),
      th:nth-of-type(4) {
        text-align: center;
      }
    }

    .p-datatable-tbody {
      font-size: 1.2rem;

      .p-progressbar-label {
        position: absolute;
        right: 0;
        top: 0;
      }

      tr:nth-child(odd) td {
        .p-progressbar-value {
          background: var(--color-avance-tabla);
          .p-progressbar-label {
          }
        }
      }

      tr:nth-child(even) td {
        .p-progressbar-value {
          background: var(--color-amarillo);
          .p-progressbar-label {
            color: var(--color-negro);
          }
        }
      }

      td:nth-of-type(3),
      td:nth-of-type(4) {
        text-align: center;
      }
    }
  }

  p-progressbar.p-element {
    width: 100%;
  }
}

// Requerimiento de información

.modalStrategy {
  .p-dialog {
    position: relative;
    width: 100%;

    padding: 10px 10px 20px;
    font-family: var(--main-font-regular);
    background-color: var(--background-gris);

    @media (min-width: 768px) {
      width: 100%;
      max-width: 768px;
      max-height: 450px;
    }

    .p-dialog-header {
      padding: 15px 0;
      border-bottom: 2px solid var(--main-color);
      background-color: var(--background-gris);

      .p-dialog-title {
        font-size: 1.8rem;
        font-family: var(--main-font-demi);

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }

      .p-dialog-header-icons {
        .pi {
          font-size: 1.8rem;
        }
      }
    }

    .p-dialog-content {
      padding: 0;
    }
  }

  .p-dialog-mask {
    padding: 10px;
    @media (min-width: 1024px) {
      padding: 0px;
    }
  }
}

.dialogStrategy {
  padding: 0px;
  background-color: var(--background-gris);

  @media (min-width: 768px) {
    padding: 30px 100px;
  }

  &__grid {
    margin-bottom: 20px;
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}
