.contSecc {
  width: 100%;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
}

.titulo-bloque {
  color: var(--color-negro);
  font-family: var(--main-font-demi);
  font-size: 20px;
}

.subtitulo-bloque {
  color: var(--color-negro);
  font-family: var(--main-font-demi);
  font-size: 15px;
}

.status-bloque {
  display: flex;
  align-items: center;
  font-family: var(--main-font-demi);
  font-size: 14px;
  margin-top: 15px;

  .circulo {
    width: 16px;
    height: 16px;
    border: 0.2px solid var(--color-borde-status);
    border-radius: 100%;
    margin-right: 10px;
  }
  .pendiente {
    background-color: var(--color-pendiente);
  }
  .completo {
    background-color: var(--color-verde);
  }
  .incompleto {
    background-color: var(--color-rojo);
  }
}

.alert-bloque {
  color: #127625;
  font-family: var(--main-font-demi);
  font-size: 1.8rem;
  font-style: italic;
}

.btn-auditoria {
  background-color: var(--main-color);
  border: none;
  border-radius: 3px;
  width: 140px;
  height: 40px;
  color: var(--color-blanco);
  font-family: var(--main-font-bold);
  font-size: 12px;
  cursor: pointer;
}
