.requirements {
  &__content {
    background-color: var(--color-blanco);
    box-shadow: 0px 3px 6px #00000029;

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      text-align: center;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    img {
      cursor: pointer;
    }
  }

  &__overflow {
    overflow: auto;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    padding: 30px 30px 10px;
    button {
      width: 140px;
      height: 40px;
      border-radius: 3px;

      font-size: 1.2rem;
      font-family: var(--main-font-bold);
      opacity: 1;
    }
  }

  a {
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__id {
    color: var(--main-color);
    text-decoration: underline;
  }

  &__edit {
    color: var(--color-negro);
    font-family: var(--main-font-medium);
    text-decoration: underline;
  }
}

.data {
  &__grid {
    display: grid;
    gap: 20px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  }
}

.noti {
  &__grid {
    display: grid;
    align-items: center;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  }

  &__editor {
    margin-top: 30px;
    label {
      font-size: 1.4rem;
      line-height: 2;
      font-family: var(--main-font-regular);
      color: var(--color-negro);
    }
  }
}

.buttons-content {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 35px;
  button {
    width: 140px;
    height: 40px;
  }
}

.buttons-content.btn-add-document {
  justify-content: end !important;
}
