.panel {
  &__table {
    width: 100%;
    border-spacing: 20px;

    thead {
      tr {
        th {
          padding: 10px;
          font-size: 1.2rem;
          font-family: var(--main-font-demi);
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;
        }

        &:nth-child(3) {
          td {
            background: var(--color-blanco);
            box-shadow: 0px 3px 6px #00000029;
            height: 700px;
            overflow: auto;

            &:nth-child(1) {
              padding: 0;
              box-shadow: none;
              background-color: #f3f2f2;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  &__content {
    padding: 20px;
    border-radius: 3px;
    background-color: #f3f2f2;
    overflow: auto;
  }

  &__title {
    text-align: center;
    background: var(--color-verde);
    color: var(--color-blanco);
    font-size: 1.2rem;
    font-family: var(--main-font-demi);
  }

  &__card {
    position: relative;
    width: 110px;
    height: auto;
    padding: 2px;
    max-width: 65%;
    font-size: 1rem;

    text-align: center;
    box-shadow: 1px 1px 2px #00000029;
    border-radius: 3px;
  }

  &__card--gray {
    background: #e7e9f1;
  }

  &__card--darkGray {
    background: #606473;
    color: var(--color-blanco);
  }

  &__card--white {
    background: var(--color-blanco);
  }

  &__border {
    border-left: 4px solid var(--estatus-listo);
    cursor: pointer;
  }

  &__column1 {
    display: flex;
    flex-direction: column;
  }

  &__column2 {
    vertical-align: top;
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 14px;
    }
  }

  &__column3 {
    vertical-align: top;

    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 14px;
    }
  }

  &__top {
    height: 350px;
    padding: 10px;
    background: var(--color-blanco);
    box-shadow: 0px 3px 6px #00000029;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
  }

  &__bottom {
    height: 350px;
    &-title {
      padding: 10px;
      font-size: 1.2rem;
      font-family: var(--main-font-demi);
      text-align: center;
    }
    &-subtitle {
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
      background: var(--color-verde);
      color: var(--color-blanco);
      font-size: 1.2rem;
      font-family: var(--main-font-demi);
    }
    &-content {
      height: 100%;
      padding: 10px;
      background: var(--color-blanco);
      box-shadow: 0px 3px 6px #00000029;
      overflow: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__connectivity {
    position: absolute;
    top: 65px;
    left: 45%;
  }

  &__footer {
    font-size: 1.1rem;
    font-family: var(--main-font-regular);
    display: flex;
    align-items: center;
    gap: 10px;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }

      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &-italic {
      margin-top: 10px;
      font-family: var(--main-font-medium);
      font-style: italic;
    }
  }
}

.panelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 140px;
    height: 40px;
  }
}
