// Detalle de tarea

.detailReq {
  background: var(--color-blanco);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;

  .p-datatable .p-datatable-thead > tr > th {
    background: var(--color-blanco);
    color: var(--color-text-74);
  }
}

// Tipo de documentos

.typeDocument {
  &__content {
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--color-negro);
    font-family: var(--main-font-regular);
  }

  &__status {
    margin-bottom: 10px;
  }

  &__chip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-family: var(--main-font-regular);
    margin: 40px 0;
    cursor: pointer;

    .p-chip {
      max-width: 120px;
      padding: 0.1rem 2rem;
      border: 1px solid #609dc1;
      border-radius: 16px;
      font-family: var(--main-font-regular);
      background-color: var(--color-blanco);
      color: #609dc1;
    }
    .p-chip-text {
      font-size: 1.4rem;
      text-align: center;
    }

    p-chip.active .p-chip {
      background-color: var(--main-color);
      color: var(--color-blanco);
      border-radius: 16px;
    }

    p-chip.disable .p-chip {
      background-color: var(--color-blanco);
      color: #7c7c7c !important;
      border-color: #7c7c7c !important;
      border-radius: 16px;
      pointer-events: none;
    }
  }

  &__document {
    padding: 0 30px;
  }

  &__text {
    font-family: var(--main-font-regular);
    font-style: italic;
    font-size: 1.2rem;
    color: #747474;
    text-align: start;
    margin-bottom: 10px;
  }

  &__data {
    margin-bottom: 35px;
    display: flex;
    column-gap: 50px;

    div {
      span {
        display: block;
        font-family: var(--main-font-regular);

        &:nth-child(1) {
          font-size: 1.4rem;
          color: var(--color-negro);
        }

        &:nth-child(2) {
          font-size: 1.2rem;
          color: var(--color-text-74);
        }
      }
    }
  }

  &__files {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__box {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    &-name {
      width: 304px;
      height: 32px;
      padding: 0 10px;
      font-size: 1.2rem;
      color: var(--color-blanco);
      background-color: var(--main-color);

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__add {
    width: 304px;
    margin-left: 25px;

    &-link {
      font-size: 1.4rem;
      font-family: var(--main-font-regular);
      color: var(--main-color);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// Datos generales

.documents {
  &__grid {
    display: grid;
    column-gap: 20px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
    }
  }

  &__area {
    textarea {
      height: 232px !important;
    }
  }

  img {
    cursor: pointer;
  }
}

.dataGe {
  &__grid {
    display: grid;
    gap: 30px;
    @media (min-width: 768px) {
      grid-template-columns: 2fr 5fr;
    }
  }
}

// -----Modal Aviso------
.modalNotice {
  .p-dialog {
    position: relative;
    width: 100%;
    padding: 10px 10px 20px;

    font-family: var(--main-font-regular);
    background-color: var(--background-gris);

    @media (min-width: 768px) {
      max-width: 600px;
      max-height: 332px;
    }

    .p-dialog-header {
      padding: 0 0 15px;
      background-color: var(--background-gris);

      .p-dialog-header-icons {
        .pi {
          font-size: 1.8rem;
        }
      }
    }

    .p-dialog-content {
      padding: 0;
      background-color: var(--background-gris);
    }
  }

  .p-dialog-mask {
    padding: 10px;
    @media (min-width: 1024px) {
      padding: 0px;
    }
  }
}

.notice {
  &__title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: center;
    font-family: var(--main-font-demi);
    color: var(--color-negro);

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__text {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    font-family: var(--main-font-medium);
    color: var(--color-text-74);
  }

  .data__buttons {
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
    button {
      width: 140px;
      height: 40px;
    }
  }
}

//Alex

.sectionNoBg {
  &__content {
    .documents__area.datos-generales {
      margin: 26px 0;
      textarea {
        max-height: 130px;
        line-height: 2.2rem;
      }
    }
  }
}

.dataGe__grid {
  .documents__area.comments {
    margin-top: 20px;
    textarea {
      max-height: 150px;
      line-height: 2.2rem;
    }
  }
}

.bitacora {
  &__content {
    background-color: #ffffff;
    padding: 16px 9px;
    box-sizing: border-box;
    width: 100%;

    border: 1px solid #74747433;
    overflow-y: scroll;

    @media (min-width: 768px) {
      height: 100%;
      max-height: 230px;
    }

    .ficha {
      margin-top: 10px;
      color: #747474;
      &__msg {
        font-family: var(--main-font-regular);
        font-size: 1.4rem;
      }

      &__info {
        font-family: var(--main-font-medium);
        font-size: 1rem;
      }
    }
    .ficha:first-of-type {
      margin-top: 0;
    }
  }
}

// .tabview-custom {
//   i,
//   span {
//     vertical-align: middle;
//   }

//   span {
//     margin: 0 0.5rem;
//   }
// }

// .p-button {
//   margin-right: 0.25rem;
// }

// .p-tabview p {
//   line-height: 1.5;
//   margin: 0;
// }

// .tabsReq {
//   .p-tabview .p-tabview-panels {
//     padding: 0;
//   }
//   .p-tabview .p-tabview-nav {
//     border: 1px solid #3684b1;
//     border-width: 0 0 2px 0;
//   }
//   .p-tabview .p-tabview-nav li a {
//     font-size: 1.4rem;
//     font-weight: normal;
//     font-family: var(--main-font-medium);
//   }
//   .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
//     border-color: #71ca6b;
//     color: #71ca6b;
//   }
//   .p-tabview .p-tabview-nav li .p-tabview-nav-link {
//     border: solid #3684b1;
//     border-width: 0 0 2px 0;
//     border-color: #3684b1;
//   }
// }
