.search {
  &__flex {
    width: 100%;
    margin-bottom: 40px;
    display: grid;
    row-gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 8fr 1fr;
      column-gap: 20px;
      row-gap: 0;
    }

    button {
      width: 140px;
      height: 32px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
  }

  &__result {
    &-card {
      //   width: 678px;
      height: 178px;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 3px;
      background-color: var(--color-blanco);
      box-shadow: 0px 3px 6px #00000029;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 1.6rem;
        font-family: var(--main-font-bold);
      }
    }

    &-body {
      font-size: 1.2rem;
      color: #43413b;
    }

    &-footer {
      display: flex;
      justify-content: flex-end;

      div {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          cursor: pointer;
        }
      }
    }
  }
}

// Columna de filtros

.filters {
  padding: 20px;
  border-radius: 3px;
  background-color: var(--color-blanco);
  box-shadow: 0px 3px 6px #00000029;

  &__header {
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;

    span {
      font-family: var(--main-font-demi);

      &:nth-child(1) {
        font-size: 1.5rem;
      }

      &:nth-child(2) {
        font-size: 1.2rem;
        text-decoration: underline;
        color: #3684b1;
        cursor: pointer;
      }
    }
  }

  &__result {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .p-chip {
      padding: 0 1rem;
      border-radius: 16px;
      border: 1px solid #a7a7a7;
      font-family: var(--main-font-regular);
      font-size: 1.4rem;
      background-color: var(--color-blanco);
      color: #656565;
    }
  }

  &__box {
    &-header {
      padding: 15px 0;
      border-bottom: 1px solid #f3f2f2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      span {
        font-size: 1.5rem;
        font-family: var(--main-font-demi);
      }
    }

    &-content {
      height: 150px;
      padding: 10px;
      overflow: auto;
    }

    &-flex {
      margin-bottom: 15px;
      display: flex;
      gap: 5px;

      font-size: 1.2rem;
      font-family: var(--main-font-regular);
    }
  }
}
