.table {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      th {
        border-bottom: 0.5px solid #d6d6d6;
        padding: 10px;
        font-size: 1.2rem;
        font-family: var(--main-font-medium);
        color: var(--color-text-74);
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 0.5px solid #d6d6d6;
        padding: 12px 10px;
        font-size: 1.2rem;
        font-family: var(--main-font-regular);
        color: var(--color-negro);
        text-align: left;
      }

      &:last-of-type {
        td {
          border: none;
        }
      }
    }
  }
}

/* Arantxa */
.table-avance {
  .p-datatable-table {
    .p-datatable-thead {
      th {
        color: var(--color-gris2);
        font-size: 12px;
        font-family: var(--main-font-regular);
        text-align: left;
        padding: 10px;
        background-color: var(--color-blanco);
        width: 33.33%;

        &:nth-child(2) {
          text-align: center;
        }
      }
    }
  }
  .p-datatable-tbody {
    font-size: 12px;

    .p-progressbar {
      .p-progressbar-value {
        background: var(--color-avance-tabla);
        .p-progressbar-label {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  p-progressbar.p-element {
    width: 100%;
  }
}

.table-contabilidad {
  .p-datatable-table {
    .p-datatable-thead {
      th {
        color: var(--color-gris2);
        font-size: 12px;
        font-family: var(--main-font-regular);
        text-align: left;
        padding: 10px;
        background-color: var(--color-blanco);
      }
    }
  }
  .p-datatable-tbody {
    font-size: 12px;
    .estatus-actual {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      margin-right: 11px;
    }
  }
}
.estatus__roja {
  background-color: var(--color-rojo);
}
.estatus__amarillo {
  background-color: var(--color-amarillo);
}
.estatus__verde {
  background-color: var(--estatus-listo);
}


.hidden{
  display: none
}

// Alex
.table.datosGenerales thead tr th{
  width: 15%;
}

.table.datosGenerales thead tr th:nth-of-type(2){
  width: 20%;
}