// -----Button-----
.btn-outline-primary {
  border: 1px solid var(--main-color);
  border-radius: 3px;
  font-family: var(--main-font-bold);
  background: transparent;
  color: var(--main-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-outline-primary-disabled {
  border: 1px solid #9ac1d8;
  border-radius: 3px;
  font-family: var(--main-font-bold);
  background: transparent;
  color: #9ac1d8;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-primary {
  border: none;
  font-family: var(--main-font-demi);
  border-radius: 3px;
  background: var(--main-color);
  color: var(--color-blanco);
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-primary-disabled {
  border: none;
  font-family: var(--main-font-demi);
  border-radius: 3px;
  background: #9ac1d8;
  color: var(--color-blanco);
  font-size: 1.2rem;
  pointer-events: none;
}

.btn-secondary {
  border: 1px solid var(--main-color__third);
  border-radius: 3px;
  font-family: var(--main-font-demi);
  background: var(--main-color__third);
  color: var(--color-blanco);
  cursor: pointer;
}

.btn-return {
  font-family: var(--main-font-demi);
  border-radius: 3px;
  background: var(--main-color__return);
  color: var(--color-blanco);
  border: 1px solid var(--main-color__return);
  cursor: pointer;
}

.btn-filtro{
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px auto;
}

// -----Background-----
.bg-primary {
  background-color: var(--background-gris);
}

// -----Flex-----
.d-flex {
  display: flex;
}
.d-flex-alignCenter {
  display: flex;
  align-items: center;
}
.d-flex-justifyCenter {
  display: flex;
  justify-content: center;
}
.d-flex-justifyBetween {
  display: flex;
  justify-content: space-between;
}
.d-flex-justifyEnd {
  display: flex;
  justify-content: flex-end;
}
.d-flex-justifyStart {
  display: flex;
  justify-content: flex-start;
}
.d-flex-justifyEvenly {
  display: flex;
  justify-content: space-evenly;
}
.d-flex-justifyAround {
  display: flex;
  justify-content: space-around;
}
.flex-alignCenter {
  align-items: center;
}
.flex-alignStart {
  align-items: flex-start;
}
.flex-alignEnd {
  align-items: flex-end;
}
.flex-alignStretch {
  align-items: stretch;
}
.flexWrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

// -----Margin-----
.marginAuto {
  margin: 0 auto;
}

.u-mt-0 {
  margin-top: 0 !important;
}
.u-mt-10 {
  margin-top: 10px;
}
.u-mt-15 {
  margin-top: 15px;
}
.u-mt-20 {
  margin-top: 20px;
}
.u-mt-30 {
  margin-top: 30px;
}
.u-mt-40 {
  margin-top: 40px;
}
.u-mt-50 {
  margin-top: 50px;
}

.u-mb-5 {
  margin-bottom: 5px;
}
.u-mb-10 {
  margin-bottom: 10px;
}
.u-mb-20 {
  margin-bottom: 20px;
}
.u-mb-25 {
  margin-bottom: 25px;
}
.u-mb-30 {
  margin-bottom: 30px;
}
.u-mb-40 {
  margin-bottom: 40px;
}
.u-mb-50 {
  margin-bottom: 50px;
}
.u-mb-60 {
  margin-bottom: 60px;
}
.u-mb-70 {
  margin-bottom: 70px;
}
.u-mb-80 {
  margin-bottom: 80px;
}

.u-mr-10 {
  margin-right: 10px;
}
.u-mr-20 {
  margin-right: 20px;
}
.u-mr-30 {
  margin-right: 30px;
}
.u-mr-40 {
  margin-right: 40px;
}
.u-mr-50 {
  margin-right: 50px;
}

// -----Show-----
.opcionSeleccionada {
  background-color: #2d6244 !important;
  color: var(--color-blanco) !important;
}
.opcionSeleccionada img {
  filter: brightness(500%);
}

// -----Text-----
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}

.link {
  cursor: pointer;
  color: var(--main-color);
  font-family: var(--main-font-demi);
  text-decoration: underline;
}

.linkGris {
  color: var(--main-color-texto);
}

.linkModal {
  font-size: 14px;
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}

.u-txt-black {
  color: #000;
}

// -----Disabled-----
.select-disabled .p-dropdown {
  background-color: #f0f0f0;
  border: 2px solid #e3e3e3;
  pointer-events: none;
}
.styleInput .input-disabled {
  background-color: #f0f0f0;
  border: 2px solid #e3e3e3;
  pointer-events: none;
}

// Grosor de Letra

.main-font-demi {
  font-family: var(--main-font-demi);
}

.pd-10 {
  padding: 10px;
}

.pd-20 {
  padding: 20px;
}

.pd-30 {
  padding: 30px;
}

// Border

.border-bottom {
  border-bottom: 2px solid var(--main-color);
}

// Estatus

.status {
  display: flex;
  align-items: center;
  gap: 10px;

  &__circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
  }

  &__red {
    background-color: var(--color-rojo);
  }

  &__yellow {
    background-color: var(--color-amarillo);
  }

  &__green {
    background-color: var(--estatus-listo);
  }
}

// Fondos
.bg-white {
  background-color: var(--color-blanco);
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

// Width

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100% !important;
}
