<div class="page">
  <div class="container exmaple">
    <span (click)="cambioPAdm()">Administrador</span>
    <span (click)="cambioPCol()">Colaborador</span>
  </div>
  <div class="container">
    <div class="titulo-bloque u-mb-5" *ngIf="!colaborador">
      Últimas auditorias revisadas
    </div>
    <div class="titulo-bloque u-mb-5" *ngIf="colaborador">Dashboard</div>
  </div>
  <div class="container">
    <!-- Componente Cards -->
    <div class="dashboardTop u-mb-20" *ngIf="!colaborador">
      <app-cards
        [auditorias]="auditorias"
        (auditoriaSelected)="fichaTecnica($event)"
      ></app-cards>
    </div>
    <!-- Componente Ficha Técnica -->
    <div class="dashboardMidlle u-mb-20">
      <div class="section section-padding">
        <div class="section__title">Ficha técnica</div>
        <div class="section__content">
          <div
            class="dataFicha"
            [ngClass]="{
              card__informative: auditoriaSelected.tipoCard === 'informativo',
              card__entregadoMal: auditoriaSelected.tipoCard === 'mal',
              card__entregadoCambios: auditoriaSelected.tipoCard === 'cambios'
            }"
          >
            <div class="dataFicha_header">
              <div class="header-titulo">
                <h3>{{ auditoriaSelected.nombre }}</h3>
                <div>Ord. Revisión: BAZ960100134</div>
              </div>
              <div class="header-monto">
                Monto: <span>${{ auditoriaSelected.monto }} MDP</span>
              </div>
            </div>
            <div class="dataFicha_body u-mb-40">
              <div class="body-detalles borderTop-gris">
                <div>
                  <span>Año</span>
                  <span>{{ auditoriaSelected.anio }}</span>
                </div>
                <div>
                  <span>Unidad de negocio</span>
                  <span>{{ auditoriaSelected.unidadNegocio }}</span>
                </div>
                <div>
                  <span>Autoridad:</span>
                  <span
                    >Administración centrar de fiscalización a grupos de
                    sociedades adscrita.</span
                  >
                </div>
              </div>
              <div class="body-detalles borderTop-gris">
                <div>
                  <span>Representante de la Unidad de Negocio: </span>
                  <span>Jesús Morales Aguilar</span>
                </div>
                <div>
                  <span>Fecha de creación: </span>
                  <span>20/09/2016</span>
                </div>
                <div>
                  <span>Creador: </span>
                  <span>Marco López</span>
                </div>
              </div>
            </div>
            <!-- , auditoria.id, true -->
            <div class="dataFicha_footer" *ngIf="colaborador">
              <button
                class="btn-auditoria"
                [routerLink]="['/detalle-auditoria', auditoriaSelected.id]"
              >
                Ir a detalle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboardBottom u-mb-20">
      <!-- Calendario -->
      <div class="section calendar section-padding">
        <div
          class="section__title"
          [routerLink]="['calendario-auditoria/', 0]"
          style="cursor: pointer"
        >
          Calendario {{ auditoriaService.tituloFicha }}
        </div>
        <div class="section__content">
          <p-calendar
            class="calendario__range"
            [(ngModel)]="startEndDay"
            [inline]="true"
            [showWeek]="true"
            selectionMode="range"
            inputId="range"
          ></p-calendar>
        </div>
      </div>
      <!-- Mis tareas pendientes -->
      <div class="section pending section-padding" *ngIf="colaborador">
        <div class="section__title">
          <span>Mis tareas pendientes</span>
          <span>{{ pending.length }}</span>
        </div>
        <div class="section__content">
          <div class="pending__content">
            <table>
              <thead>
                <tr>
                  <th>Tarea</th>
                  <th>Fecha entrega</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of pending">
                  <td><span class="pending__bullet"></span> {{ p.name }}</td>
                  <td>{{ p.fechaEntrega }}</td>
                  <td>
                    <button class="pending__ico">
                      <img [src]="p.verTarea" alt="icono ver" />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pending__plus">
              <a
                (click)="
                  showModal(
                    'modal1',
                    'Tareas / BAZ 2016 - Oficio 230/2022 - Requerimiento de información'
                  )
                "
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Mis tareas pendientes colaborador -->
      <div class="section pending section-padding" *ngIf="!colaborador">
        <div class="section__title">
          <span>Mis tareas pendientes</span>
          <span>{{ pending.length }}</span>
        </div>
        <div class="section__content">
          <div class="pending__content">
            <table class="tblTareasPendientes">
              <thead>
                <tr>
                  <th>Tarea</th>
                  <th>Días restantes</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of pendings">
                  <td><span class="pending__bullet"></span> {{ p.name }}</td>
                  <td>{{ p.dias }}</td>
                  <td>
                    <button class="pending__ico">
                      <img [src]="p.verTarea" alt="icono ver" />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pending__plus">
              <a routerLink="/detalle-por-area">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabla de Requerimientos -->
    <div class="dashboardMidlleFile">
      <!--Requerimientos Administador-->
      <div
        class="dashboardBottom__columnOne section section-padding"
        *ngIf="colaborador"
      >
        <div class="section__title border-bottom">
          Requerimiento de información
        </div>
        <!-- Requerimiento de información / Avence Total-->
        <div class="summary">
          <div class="summary__advance">
            <div>Avance total</div>
            <div><p-progressBar [value]="value"></p-progressBar></div>
            <div>Total de áreas: 30</div>
          </div>
        </div>
        <!--Requerimiento de información / Área responsable -->
        <div class="informationArea pd-10">
          <div class="informationArea__content">
            <p-table class="table informationArea__table" [value]="tasks">
              <ng-template pTemplate="header">
                <tr>
                  <th>Área responsable</th>
                  <th>% de avance</th>
                  <th>Último inicio de sesión</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-task>
                <tr>
                  <td>{{ task.area }}</td>
                  <td><p-progressBar [value]="task.avance"></p-progressBar></td>
                  <td>{{ task.ultimoInicio }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="d-flex-justifyCenter u-mt-40 u-mb-25">
            <button class="btn-auditoria" routerLink="/hub-colaborativo">
              Ir a HUB colaborativo
            </button>
          </div>
        </div>
      </div>

      <!--Requerimientos Colaborador-->
      <div
        class="dashboardBottom__columnOne section section-padding"
        *ngIf="!colaborador"
      >
        <div class="section">
          <div class="section__title border-bottom">
            Requerimiento de información
          </div>

          <div class="informationAreaOficio">
            <p-table class="table informationAreaOficio__table" [value]="req">
              <ng-template pTemplate="header">
                <tr>
                  <th>Oficio</th>
                  <th>% de avance</th>
                  <th>Requerimientos terminados</th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-req>
                <tr>
                  <td>{{ req.oficio }}</td>
                  <td><p-progressBar [value]="req.avance"></p-progressBar></td>
                  <td>{{ req.terminado }}</td>
                  <td>
                    <a routerLink="/detalle-por-area" class="link"
                      >Ver requerimiento</a
                    >
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <section class="middle-board u-mb-20">
    <app-middle-board [auditoria]="auditoriaSelected"></app-middle-board>
  </section>
  <section class="bottom-board">
    <app-bottom-board [auditoria]="auditoriaSelected"></app-bottom-board>
  </section> -->
<!-- class="modalReq modalRelief" -->
<p-dialog
  [header]="this.headerModal"
  class="modalReq"
  [(visible)]="this.displayTabla"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-modales [typeModal]="typeModal"></app-modales>
</p-dialog>
