<div class="page">
  <div class="container exmaple">
    <span (click)="cambioPAdm()">Administrador</span>
    <span (click)="cambioPCol()">Colaborador</span>
    <span (click)="cambioPEje()">Ejecutivo</span>
  </div>
  <div class="container">
    <div class="titulo-bloque u-mb-5" *ngIf="colaborador">
      Últimas auditorias revisadas
    </div>
    <div class="titulo-bloque u-mb-5" *ngIf="admin || ejecutivo">Dashboard</div>
  </div>
  <div class="container">
    <!-- Componente Cards -->
    <div class="dashboardTop u-mb-20" *ngIf="colaborador">
      <app-cards
        [auditorias]="auditorias"
        (auditoriaSelected)="fichaTecnica($event)"
      ></app-cards>
    </div>
    <!-- Componente Ficha Técnica -->
    <div class="dashboardMidlle u-mb-20">
      <div class="section section-padding">
        <div class="section__title">Ficha técnica</div>
        <div class="section__content">
          <div
            class="dataSheets"
            [ngClass]="{
              card__informative: auditoriaSelected.tipoCard === 'informativo',
              card__entregadoMal: auditoriaSelected.tipoCard === 'mal',
              card__entregadoCambios: auditoriaSelected.tipoCard === 'cambios'
            }"
          >
            <div class="dataSheets__header">
              <div>
                <span>BAZ 2016</span>
                <span>No. De oficio: 230/2022</span>
              </div>
              <div>
                <span>Sociedad</span>
                <span>ELEKTRA.COM</span>
              </div>
              <div>Monto: <span>$23,172 MDP</span></div>
            </div>
            <div class="dataSheets__body">
              <div>
                <span>Autoridad:</span>
                <span>Secretaría de Administración Tributaria</span>
              </div>
              <div>
                <span>Área:</span>
                <span
                  >Administración Central de Fiscalización a Grupo de
                  Sociedades</span
                >
              </div>
              <div>
                <span>Administrador central:</span>
                <span>Armando Ramírez Sánchez</span>
              </div>
            </div>
            <div class="dataSheets__dates">
              <div>
                <span>Fecha de creación:</span>
                <span>20/09/2016</span>
              </div>
              <div>
                <span>Fecha de notificación:</span>
                <span>25/10/2022</span>
              </div>
              <div>
                <span>Fecha de término:</span>
                <span>10/11/2022</span>
              </div>
            </div>
            <div class="dataSheets__footer">
              <div>
                <span>Administrador de la auditoría: </span>
                <span>Aurelia Cleofa Ríos López</span>
              </div>
            </div>
            <!-- , auditoria.id, true -->
            <div
              class="dataSheets__button dataFicha_footer"
              *ngIf="admin"
            >
              <button
                class="btn-auditoria"
                [routerLink]="['/detalle-auditoria', auditoriaSelected.id]"
              >
                Ir a detalle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Etapas de la auditoria (Tracking) -->
    <section class="tracking" *ngIf="ejecutivo">
      <div class="section">
        <div class="section__title">Etapas de la Auditoría</div>
        <div class="section__content">
          <div class="tracking__content">
            <div class="tracking__stepAudi">
              <div class="stepper-horizontal step-audi" id="stepper2">
                <div class="step editing">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/ico-file-earmark-check-fill.svg"/>
                    </div>
                  </div>
                  <div class="step-title">Requerimiento de información</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/acta-comparecencia.svg" />
                    </div>
                  </div>
                  <div class="step-title">Acta de comparecencias</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/oficio-observaciones.svg"/>
                    </div>
                  </div>
                  <div class="step-title">Oficio de observaciones</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/contestacion-aut.svg" />
                    </div>
                  </div>
                  <div class="step-title">Contestación de la autoridad</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/correccion-fiscal.svg" />
                    </div>
                  </div>
                  <div class="step-title">Corrección fiscal</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/determinacion-credito.svg" />
                    </div>
                  </div>
                  <div class="step-title">Determinación de crédito</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
                <div class="step">
                  <div class="step-circle">
                    <div class="step-circle-middle">
                      <img src="assets/img/iconos/fin-auditoria.svg" />
                    </div>
                  </div>
                  <div class="step-title">Fin de la auditoria</div>
                  <div class="step-bar-left"></div>
                  <div class="step-bar-right"></div>
                </div>
              </div>
              <div class="tracking__subStep">
                <div class="subStep-fechas">
                  <div class="fecha-registro">
                    <div>04 Dic 2022</div>
                    <div>17:00</div>
                  </div>
                  <div class="fecha-registro">
                    <div>04 Dic 2022</div>
                    <div>12:00</div>
                  </div>
                  <div class="fecha-registro">
                    <div>01 Dic 2022</div>
                    <div>10:30</div>
                  </div>
                  <div class="fecha-registro">
                    <div>30 Nov 2022</div>
                    <div>18:30</div>
                  </div>
                  <div class="fecha-registro">
                    <div>24 Nov 2022</div>
                    <div>10:00</div>
                  </div>
                </div>
                <div class="stepper-vertical" id="stepper3">
                  <div class="step done">
                    <div class="step-circle">
                      <div class="step-circle-middle">
                        <div class="img-termino"></div>
                      </div>
                    </div>
                    <div class="step-bar-down"></div>
                  </div>
                  <div class="step">
                    <div class="step-circle">
                      <div class="step-circle-middle">
                        <div class="img-desahogo"></div>
                      </div>
                    </div>
                    <div class="step-bar-down"></div>
                  </div>
                  <div class="step">
                    <div class="step-circle">
                      <div class="step-circle-middle">
                        <div class="img-prorroga"></div>
                      </div>
                    </div>
                    <div class="step-bar-down"></div>
                  </div>
                  <div class="step">
                    <div class="step-circle">
                      <div class="step-circle-middle">
                        <div class="img-notificacion"></div>
                      </div>
                    </div>
                    <div class="step-bar-down"></div>
                  </div>
                  <div class="step">
                    <div class="step-circle">
                      <div class="step-circle-middle">
                        <div class="img-citatorio"></div>
                      </div>
                    </div>
                    <div class="step-bar-down"></div>
                  </div>
                </div>
                <div class="subStep-desc">
                  <div class="desc-subEtapa">
                    <div>Término</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
                  </div>
                  <div class="desc-subEtapa">
                    <div>Desahogo</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  </div>
                  <div class="desc-subEtapa">
                    <div>Prórroga</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  </div>
                  <div class="desc-subEtapa">
                    <div>Notificación</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
                  </div>
                  <div class="desc-subEtapa">
                    <div>Citatorio</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  </div>
                </div>
                <div class="link-mas">Ver todo</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="dashboardBottom u-mb-20">
      <!-- Mis tareas pendientes -->
      <div class="section pending section-padding" *ngIf="admin">
        <div class="section__title">
          <span>Mis tareas pendientes</span>
          <span>4</span>
        </div>
        <div class="section__content">
          <div class="pending__content">
            <p-table class="table pending__table" [value]="adminTarea">
              <ng-template pTemplate="header">
                <tr>
                  <th>Documentos</th>
                  <th>Estatus</th>
                  <th>Fecha de entrega</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-adminTarea>
                <tr>
                  <td>{{ adminTarea.documentos }}</td>
                  <td>
                    <div class="semaphore">
                      <span
                        [ngClass]="{
                          semaphore__delivery:
                            adminTarea.estatus == 'Pendiente de entrega',
                          semaphore__ready: adminTarea.estatus == 'Listo',
                          semaphore__revision:
                            adminTarea.estatus == 'Pendiente de revisión',
                          semaphore__introduce:
                            adminTarea.estatus == 'No se va a presentar',
                          semaphore__undelivered:
                            adminTarea.estatus == 'No entregado',
                          semaphore__notReviewed:
                            adminTarea.estatus == 'No revisado',
                          semaphore__additional:
                            adminTarea.estatus == 'Cambios adicionales',
                          semaphore__wrong:
                            adminTarea.estatus == 'Entregado mal'
                        }"
                      ></span>
                      <span>{{ adminTarea.estatus }}</span>
                    </div>
                  </td>
                  <td>{{ adminTarea.fechaEntrega }}</td>
                </tr>
              </ng-template>
            </p-table>
            <div class="pending__plus">
              <a
                (click)="
                  showModal(
                    'modal1',
                    'Tareas / BAZ 2016 - Oficio 230/2022 - Requerimiento de información'
                  )
                "
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Mis tareas pendientes colaborador -->
      <div class="section pending section-padding" *ngIf="colaborador">
        <div class="section__title">
          <span>Mis tareas pendientes</span>
          <span>4</span>
        </div>
        <div class="section__content">
          <div class="pending__content">
            <p-table class="table pending__table" [value]="colaboTarea">
              <ng-template pTemplate="header">
                <tr>
                  <th>Documentos</th>
                  <th>Estatus</th>
                  <th>Fecha de entrega</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-colaboTarea>
                <tr>
                  <td>{{ colaboTarea.documentos }}</td>
                  <td>
                    <div class="semaphore">
                      <span
                        [ngClass]="{
                          semaphore__delivery:
                            colaboTarea.estatus == 'Pendiente de entrega',
                          semaphore__ready: colaboTarea.estatus == 'Listo',
                          semaphore__revision:
                            colaboTarea.estatus == 'Pendiente de revisión',
                          semaphore__introduce:
                            colaboTarea.estatus == 'No se va a presentar',
                          semaphore__undelivered:
                            colaboTarea.estatus == 'No entregado',
                          semaphore__notReviewed:
                            colaboTarea.estatus == 'No revisado',
                          semaphore__additional:
                            colaboTarea.estatus == 'Cambios adicionales',
                          semaphore__wrong:
                            colaboTarea.estatus == 'Entregado mal'
                        }"
                      ></span>
                      <span>{{ colaboTarea.estatus }}</span>
                    </div>
                  </td>
                  <td>{{ colaboTarea.fechaEntrega }}</td>
                </tr>
              </ng-template>
            </p-table>
            <div class="pending__plus">
              <a routerLink="/detalle-por-area">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Calendario -->
      <div class="section calendar section-padding" *ngIf="admin || colaborador">
        <div
          class="section__title"
          [routerLink]="['/calendario-auditoria/', 0]"
          style="cursor: pointer"
        >
          Calendario {{ auditoriaService.tituloFicha }}
        </div>
        <div class="section__content">
          <p-calendar
            class="calendario__range"
            [(ngModel)]="startEndDay"
            [inline]="true"
            [showWeek]="true"
            selectionMode="range"
            inputId="range"
          ></p-calendar>
        </div>
      </div>
    </div>

    <!-- Tabla de Requerimientos -->
    <div class="dashboardMidlleFile">
      <!--Requerimientos Administador-->
      <div
        class="dashboardBottom__columnOne section section-padding"
        *ngIf="admin"
      >
        <div class="section__title border-bottom">
          Requerimiento de información
        </div>
        <!-- Requerimiento de información / Avence Total-->
        <div class="summary">
          <div class="summary__advance">
            <div>Avance total</div>
            <div><p-progressBar [value]="value"></p-progressBar></div>
            <div>Total de áreas: 30</div>
          </div>
        </div>
        <!--Requerimiento de información / Área responsable -->
        <div class="informationArea pd-10">
          <div class="informationArea__content">
            <p-table class="table informationArea__table" [value]="tasks">
              <ng-template pTemplate="header">
                <tr>
                  <th>Área</th>
                  <th>% de avance</th>
                  <th>Documentos terminados</th>
                  <th>Último inicio de sesión</th>
                  <th>Acción</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-task>
                <tr>
                  <td>{{ task.area }}</td>
                  <td><p-progressBar [value]="task.avance"></p-progressBar></td>
                  <td>{{ task.reqTerminado }}</td>
                  <td>{{ task.ultimoInicio }}</td>
                  <td>
                    <a
                      class="link"
                      (click)="
                        showModal(
                          'modal1',
                          'Tareas / BAZ 2016 - Oficio 230/2022 - Requerimiento de información'
                        )
                      "
                      >Ver detalle</a
                    >
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="d-flex-justifyCenter u-mt-40 u-mb-25">
            <button class="btn-auditoria" routerLink="/hub-colaborativo">
              Ir a HUB colaborativo
            </button>
          </div>
        </div>
      </div>

      <!--Requerimientos Colaborador-->
      <div
        class="dashboardBottom__columnOne section section-padding"
        *ngIf="colaborador"
      >
        <div class="section">
          <div class="section__title border-bottom">
            Requerimiento de información
          </div>

          <div class="summary">
            <div class="summary__advance summary__advance--four">
              <div>Avance total</div>
              <div><p-progressBar [value]="value"></p-progressBar></div>
              <div>Requerimientos terminados: 20/60</div>
              <div>
                <a routerLink="/detalle-por-area" class="link">Ver detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal-->
<p-dialog
  [header]="this.headerModal"
  class="modalReq"
  [(visible)]="this.displayTabla"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-modales [typeModal]="typeModal"></app-modales>
</p-dialog>
