<div class="page">
  <div class="container exmaple">
    <span (click)="cambioPAdm()">Administrador</span>
    <span (click)="cambioPCol()">Colaborador</span>
  </div>
  <div class="container">
    <div class="titulo-bloque u-mb-5" *ngIf="!colaborador">
      Últimas auditorias revisadas
    </div>
    <div class="titulo-bloque u-mb-5" *ngIf="colaborador">Dashboard</div>
  </div>
  <div class="container">
    <!-- Componente Cards -->
    <div class="dashboardTop u-mb-20" *ngIf="!colaborador">
      <app-cards
        [auditorias]="auditorias"
        (auditoriaSelected)="fichaTecnica($event)"
      ></app-cards>
    </div>
    <!-- Componente Ficha Técnica -->
    <div class="dashboardMidlle u-mb-20">
      <div class="section section-padding">
        <div class="section__title">Ficha técnica</div>
        <div class="section__content">
          <div
            class="dataSheets"
            [ngClass]="{
              card__informative: auditoriaSelected.tipoCard === 'informativo',
              card__entregadoMal: auditoriaSelected.tipoCard === 'mal',
              card__entregadoCambios: auditoriaSelected.tipoCard === 'cambios'
            }"
          >
            <div class="dataSheets__header">
              <div>
                <span>BAZ 2016</span>
                <span>No. De oficio: 230/2022</span>
              </div>
              <div>
                <span>Unidad de negocio</span>
                <span>BAZ</span>
              </div>
              <div>Monto: <span>$23,172 MDP</span></div>
            </div>
            <div class="dataSheets__body">
              <div>
                <span>Autoridad:</span>
                <span>Secretaría de Administración Tributaria</span>
              </div>
              <div>
                <span>Área:</span>
                <span
                  >Administración Central de Fiscalización a Grupo de
                  Sociedades</span
                >
              </div>
              <div>
                <span>Administrador central:</span>
                <span>Armando Ramírez Sánchez</span>
              </div>
            </div>
            <div class="dataSheets__dates">
              <div>
                <span>Fecha de creación:</span>
                <span>20/09/2016</span>
              </div>
              <div>
                <span>Fecha de notificación:</span>
                <span>25/10/2022</span>
              </div>
              <div>
                <span>Fecha de término:</span>
                <span>10/11/2022</span>
              </div>
            </div>
            <div class="dataSheets__footer">
              <div>
                <span>Administrador de la auditoría: </span>
                <span>Aurelia Cleofa Ríos López</span>
              </div>
            </div>
            <!-- , auditoria.id, true -->
            <div
              class="dataSheets__button dataFicha_footer"
              *ngIf="colaborador"
            >
              <button
                class="btn-auditoria"
                [routerLink]="['/detalle-auditoria', auditoriaSelected.id]"
              >
                Ir a detalle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboardBottom u-mb-20">
      <!-- Mis tareas pendientes -->
      <div class="section pending section-padding" *ngIf="colaborador">
        <div class="section__title">
          <span>Mis tareas pendientes</span>
          <span>4</span>
        </div>
        <div class="section__content">
          <div class="pending__content">
            <p-table class="table pending__table" [value]="adminTarea">
              <ng-template pTemplate="header">
                <tr>
                  <th>Documentos</th>
                  <th>Estatus</th>
                  <th>Fecha de entrega</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-adminTarea>
                <tr>
                  <td>{{ adminTarea.documentos }}</td>
                  <td>
                    <div class="semaphore">
                      <span
                        [ngClass]="{
                          semaphore__delivery:
                            adminTarea.estatus == 'Pendiente de entrega',
                          semaphore__ready: adminTarea.estatus == 'Listo',
                          semaphore__revision:
                            adminTarea.estatus == 'Pendiente de revisión',
                          semaphore__introduce:
                            adminTarea.estatus == 'No se va a presentar',
                          semaphore__undelivered:
                            adminTarea.estatus == 'No entregado',
                          semaphore__notReviewed:
                            adminTarea.estatus == 'No revisado',
                          semaphore__additional:
                            adminTarea.estatus == 'Cambios adicionales',
                          semaphore__wrong:
                            adminTarea.estatus == 'Entregado mal'
                        }"
                      ></span>
                      <span>{{ adminTarea.estatus }}</span>
                    </div>
                  </td>
                  <td>{{ adminTarea.fechaEntrega }}</td>
                </tr>
              </ng-template>
            </p-table>
            <div class="pending__plus">
              <a
                (click)="
                  showModal(
                    'modal1',
                    'Tareas / BAZ 2016 - Oficio 230/2022 - Requerimiento de información'
                  )
                "
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Mis tareas pendientes colaborador -->
      <div class="section pending section-padding" *ngIf="!colaborador">
        <div class="section__title">
          <span>Mis tareas pendientes</span>
          <span>4</span>
        </div>
        <div class="section__content">
          <div class="pending__content">
            <p-table class="table pending__table" [value]="colaboTarea">
              <ng-template pTemplate="header">
                <tr>
                  <th>Documentos</th>
                  <th>Estatus</th>
                  <th>Fecha de entrega</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-colaboTarea>
                <tr>
                  <td>{{ colaboTarea.documentos }}</td>
                  <td>
                    <div class="semaphore">
                      <span
                        [ngClass]="{
                          semaphore__delivery:
                            colaboTarea.estatus == 'Pendiente de entrega',
                          semaphore__ready: colaboTarea.estatus == 'Listo',
                          semaphore__revision:
                            colaboTarea.estatus == 'Pendiente de revisión',
                          semaphore__introduce:
                            colaboTarea.estatus == 'No se va a presentar',
                          semaphore__undelivered:
                            colaboTarea.estatus == 'No entregado',
                          semaphore__notReviewed:
                            colaboTarea.estatus == 'No revisado',
                          semaphore__additional:
                            colaboTarea.estatus == 'Cambios adicionales',
                          semaphore__wrong:
                            colaboTarea.estatus == 'Entregado mal'
                        }"
                      ></span>
                      <span>{{ colaboTarea.estatus }}</span>
                    </div>
                  </td>
                  <td>{{ colaboTarea.fechaEntrega }}</td>
                </tr>
              </ng-template>
            </p-table>
            <div class="pending__plus">
              <a routerLink="/detalle-por-area">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Calendario -->
      <div class="section calendar section-padding">
        <div
          class="section__title"
          [routerLink]="['/calendario-auditoria/', 0]"
          style="cursor: pointer"
        >
          Calendario {{ auditoriaService.tituloFicha }}
        </div>
        <div class="section__content">
          <p-calendar
            class="calendario__range"
            [(ngModel)]="startEndDay"
            [inline]="true"
            [showWeek]="true"
            selectionMode="range"
            inputId="range"
          ></p-calendar>
        </div>
      </div>
    </div>

    <!-- Tabla de Requerimientos -->
    <div class="dashboardMidlleFile">
      <!--Requerimientos Administador-->
      <div
        class="dashboardBottom__columnOne section section-padding"
        *ngIf="colaborador"
      >
        <div class="section__title border-bottom">
          Requerimiento de información
        </div>
        <!-- Requerimiento de información / Avence Total-->
        <div class="summary">
          <div class="summary__advance">
            <div>Avance total</div>
            <div><p-progressBar [value]="value"></p-progressBar></div>
            <div>Total de áreas: 30</div>
          </div>
        </div>
        <!--Requerimiento de información / Área responsable -->
        <div class="informationArea pd-10">
          <div class="informationArea__content">
            <p-table class="table informationArea__table" [value]="tasks">
              <ng-template pTemplate="header">
                <tr>
                  <th>Área</th>
                  <th>% de avance</th>
                  <th>Requerimientos terminados</th>
                  <th>Último inicio de sesión</th>
                  <th>Acción</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-task>
                <tr>
                  <td>{{ task.area }}</td>
                  <td><p-progressBar [value]="task.avance"></p-progressBar></td>
                  <td>{{ task.reqTerminado }}</td>
                  <td>{{ task.ultimoInicio }}</td>
                  <td>
                    <a
                      class="link"
                      (click)="
                        showModal(
                          'modal1',
                          'Tareas / BAZ 2016 - Oficio 230/2022 - Requerimiento de información'
                        )
                      "
                      >Ver detalle</a
                    >
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="d-flex-justifyCenter u-mt-40 u-mb-25">
            <button class="btn-auditoria" routerLink="/hub-colaborativo">
              Ir a HUB colaborativo
            </button>
          </div>
        </div>
      </div>

      <!--Requerimientos Colaborador-->
      <div
        class="dashboardBottom__columnOne section section-padding"
        *ngIf="!colaborador"
      >
        <div class="section">
          <div class="section__title border-bottom">
            Requerimiento de información
          </div>

          <div class="summary">
            <div class="summary__advance summary__advance--four">
              <div>Avance total</div>
              <div><p-progressBar [value]="value"></p-progressBar></div>
              <div>Requerimientos terminados: 20/60</div>
              <div>
                <a routerLink="/detalle-por-area" class="link">Ver detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal-->
<p-dialog
  [header]="this.headerModal"
  class="modalReq"
  [(visible)]="this.displayTabla"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-modales [typeModal]="typeModal"></app-modales>
</p-dialog>
