<div class="page">
  <div class="container temporal">
    <span (click)="ejecutivo = false">Administrador</span>
    <span (click)="ejecutivo = true">Ejecutivo</span>
  </div>
  <div class="container panelHeader">
    <div class="panelHeader__content">
      <div class="panelHeader__main" *ngIf="ejecutivo">
        <span>Filtro</span>
        <img (click)="display = true" src="assets/img/iconos/ico-filter.svg" />
      </div>
      <div class="titulo-bloque u-mb-5">Tablero de control</div>
    </div>

    <button
      class="btn btn-primary"
      routerLink="/auditoria/:id/:isReading/:sectionId"
      *ngIf="!ejecutivo"
    >
      Nueva Auditoría
    </button>
    <button
      class="btn btn-primary"
      *ngIf="ejecutivo"
      routerLink="/graficasGenerales"
    >
      Gráficas
    </button>
  </div>

  <!--Resultados-->
  <div class="container panelResult" *ngIf="ejecutivo">
    <div class="panelResult__text">Filtrado por:</div>
    <div class="filters__result">
      <p-chip
        *ngFor="let c of checkboxSelected"
        label="{{ c }}"
        [removable]="true"
      ></p-chip>
    </div>
  </div>

  <!--Contenido-->
  <div class="container">
    <div class="panel">
      <div class="panel__content">
        <table class="panel__table">
          <thead>
            <tr>
              <th>Denuncias / Carpetas</th>
              <th>Por iniciar</th>
              <th>Auditoría</th>
              <th colspan="2">Oficio / observaciones</th>
              <th>Crédito Fiscal</th>
              <th>Recurso Revocación</th>
              <th>Juicio Nulidad</th>
              <th>Amparo Directo</th>
              <th>Amparo directo en revisión</th>
            </tr>
          </thead>
          <tbody>
            <!-- Fila de SAT-->
            <tr>
              <td></td>
              <td class="panel__title" colspan="6">SAT</td>
            </tr>
            <!-- Fila de titulos -->
            <tr>
              <td class="panel__title">FGR y SAT</td>
              <td></td>
              <td></td>
              <td class="panel__title" colspan="2">PRODECON</td>
              <td></td>
              <td></td>
              <td class="panel__title">TFJA</td>
              <td class="panel__title">TCC</td>
              <td class="panel__title">SCJN</td>
            </tr>
            <tr>
              <td class="panel__column1">
                <div class="panel__top">
                  <div class="panel__card panel__card--gray">TABAN</div>
                  <div class="panel__card panel__card--gray">YADI</div>
                  <div class="panel__card panel__card--gray">
                    ESPECIALIDAD 18
                  </div>
                  <div class="panel__card panel__card--white">
                    Acciones legales ofensivas
                  </div>
                </div>
                <div class="panel__bottom">
                  <div class="panel__bottom-title">Juicios Garantías</div>
                  <div class="panel__bottom-subtitle">PGF</div>
                  <div class="panel__bottom-content">
                    <div class="panel__card panel__card--darkGray">
                      GRKT Juzgado distrito
                    </div>
                    <div class="panel__card panel__card--darkGray">
                      TOTAL PLAY Juzgado distrito
                    </div>
                    <div class="panel__card panel__card--darkGray">
                      GRKT TCC
                    </div>
                    <div class="panel__card panel__card--darkGray">TVA SAT</div>
                    <div class="panel__card panel__card--darkGray">NEM SAT</div>
                  </div>
                </div>
              </td>
              <td class="panel__column2">
                <div class="panel__column2-content">
                  <div class="panel__card panel__card--gray">
                    TOTALPLAY 2018
                  </div>
                </div>
              </td>
              <td class="panel__column3">
                <div class="panel__column3-content">
                  <div
                    routerLink="/dashboard"
                    class="panel__card panel__border panel__card--gray"
                  >
                    TOTALPLAY 2018
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2019 C. Ext
                  </div>

                  <div
                    class="panel__card panel__border-yellow panel__card--white"
                  >
                    TVA 2020 C. Ext
                  </div>

                  <div class="panel__card panel__border-red panel__card--white">
                    GPRomo 19
                  </div>

                  <div
                    class="panel__card panel__border-green panel__card--gray"
                  >
                    Cobre Mayo ´16
                  </div>
                  <div
                    class="panel__card panel__border-green panel__card--gray"
                  >
                    SIIEN ´21
                  </div>
                  <div class="panel__card panel__card--gray">
                    EKTCOM 2015 ($148 MDP)
                  </div>
                  <div class="panel__card panel__card--gray">
                    EKTCOM 2016 ($1,753 MDP)
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2015 G. Interco. ($1,568 MDP)
                    <img
                      class="panel__connectivity"
                      src="assets/img/iconos/ico-connectivity.svg"
                      alt=""
                    />
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2016 G. Interco. ($72 MDP)
                    <img
                      class="panel__connectivity"
                      src="assets/img/iconos/ico-connectivity.svg"
                      alt=""
                    />
                  </div>
                  <div class="panel__card panel__card--gray">
                    Comerciacom 2016 ($58 MDP)
                  </div>
                  <div class="panel__card panel__card--gray">
                    NEM 2017 y 2018 ($4,000 MDP - Base)
                  </div>
                  <div class="panel__card panel__card--gray">Mazatlán 2018</div>
                </div>
              </td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="panel__footer">
          <div class="panel__footer-content">
            <div>
              <img
                src="assets/img/iconos/ico-connectivity.svg"
                alt="icono conectividad"
              />
              <span>Conectividad entre asuntos</span>
            </div>
            <div>
              <img src="assets/img/iconos/ico-gs.svg" alt="icono GS" />
              <span>GS</span>
            </div>
            <div>
              <img
                src="assets/img/iconos/ico-external.svg"
                alt="icono externa"
              />
              <span>Externa</span>
            </div>
            <div>
              <img src="assets/img/iconos/ico-bss.svg" alt="icono externa" />
              <span>BSS/HSS/NSS</span>
            </div>
            <div>
              <img
                src="assets/img/iconos/ico-resolution.svg"
                alt="icono resolucion"
              />
              <span>Mina</span>
            </div>
            <div>
              <img src="assets/img/iconos/ico-mina.svg" alt="icono externa" />
              <span>Resolución desfavorable</span>
            </div>
            <div>
              <img
                src="assets/img/iconos/ico-negotiation.svg"
                alt="icono negociación"
              />
              <span>En negociación</span>
            </div>
          </div>
        </div>
        <div class="panel__footer-italic">
          * Las cifras reflejan montos con accesorios
        </div>
        <div class="panelRisks" *ngIf="ejecutivo">
          <div class="panelRisks__columnOne">
            <span>Riesgos</span>
            <div class="panelRisks__circle">
              <span class="panelRisks__red"></span>
              <span>Alto</span>
            </div>
            <div class="panelRisks__circle">
              <span class="panelRisks__yellow"></span>
              <span>Medio</span>
            </div>
            <div class="panelRisks__circle">
              <span class="panelRisks__green"></span>
              <span>Bajo</span>
            </div>
          </div>
          <div class="panelRisks__columnTwo">
            <div>
              <span>Determinada</span>
              <span>$450,000,000.00 MXN</span>
            </div>
            <div>
              <span>Contingencia</span>
              <span>$5,000,000,000.00 MXN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sidebar Filtro-->
<div class="panelFilter">
  <p-sidebar [(visible)]="display">
    <div class="filters">
      <div class="filters__header">
        <span>Filtro</span>
        <span (click)="checkboxSelected = []">Limpiar filtros</span>
      </div>

      <div class="filters__filter">
        <!--Montos-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(1)">
            <span>Montos</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 1
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content"
            *ngIf="content && idMenuFilter == 1"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let f of filterMonto"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ f.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ f.label }}">{{ f.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Riesgos-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(2)">
            <span>Riesgos</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 2
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content filters__box-contentUpdate"
            *ngIf="content && idMenuFilter == 2"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let f of filterRiesgos"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ f.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ f.label }}">{{ f.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Tiempo de vencimiento-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(3)">
            <span>Tiempo de vencimiento</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 3
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content filters__box-contentUpdate"
            *ngIf="content && idMenuFilter == 3"
          >
            <div class="field-checkbox filters__box-flex no-display">
              <!--Input de Fecha-->
              <div class="styleInput u-mb-10">
                <div
                  class="field-radiobutton"
                  *ngFor="let option of tiempoEspera"
                >
                  <p-radioButton
                    name="{{ option.type }}"
                    value="{{ option.value }}"
                    [(ngModel)]="selectedValue"
                    inputId="{{ option.id }}"
                    [disabled]="!inputDate"
                  ></p-radioButton>
                  <label for="{{ option.id }}">{{ option.name }}</label>
                </div>
              </div>
              <div class="styleInput">
                <div class="field-checkbox u-mb-10">
                  <p-checkbox
                    (onChange)="activarInputDate()"
                    [binary]="true"
                    inputId="binary"
                  ></p-checkbox>
                  <label for="binary"></label>
                </div>
                <div class="u-mb-10">
                  <p-calendar
                    name="fechaFin"
                    [ngClass]="inputDate ? 'panelDateFilter' : ''"
                    placeholder="Fecha de término"
                  ></p-calendar>
                </div>
                <div>
                  <p-calendar
                    name="fechaInicio"
                    [ngClass]="inputDate ? 'panelDateFilter' : ''"
                    placeholder="Fecha de inicio"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Empresas de GS-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(4)">
            <span>Empresas de GS</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 4
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content"
            *ngIf="content && idMenuFilter == 4"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let option of filterEmpresas"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ option.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ option.label }}">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Autoridad-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(5)">
            <span>Autoridad</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 5
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content"
            *ngIf="content && idMenuFilter == 5"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let option of filterAutoridad"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ option.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ option.label }}">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Administrador de auditoría-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(6)">
            <span>Administrador de auditoría</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 6
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content"
            *ngIf="content && idMenuFilter == 6"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let option of filterAdministrador"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ option.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ option.label }}">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Etapa-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(7)">
            <span>Etapa</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 7
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content"
            *ngIf="content && idMenuFilter == 7"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let option of filterEtapas"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ option.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ option.label }}">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Año-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(9)">
            <span>Año</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 9
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content filters__box-contentUpdate"
            *ngIf="content && idMenuFilter == 9"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let option of filterYear"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ option.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ option.label }}">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Representante legal-->
        <div class="filters__box">
          <div class="filters__box-header" (click)="showContent(10)">
            <span>Representante legal</span>
            <img
              alt="icono flecha abajo"
              [src]="
                content && idMenuFilter == 10
                  ? 'assets/img/iconos/ico-search-arrow-top.svg'
                  : 'assets/img/iconos/ico-search-arrow-bottom.svg'
              "
            />
          </div>

          <div
            class="filters__box-content"
            *ngIf="content && idMenuFilter == 10"
          >
            <div class="filters__box-flex no-display">
              <div class="styleInput">
                <div
                  class="field-checkbox filters__box-flex"
                  *ngFor="let option of filterRLegal"
                >
                  <p-checkbox
                    name="group1"
                    [(ngModel)]="checkboxSelected"
                    value="{{ option.name }}"
                  >
                    ></p-checkbox
                  >
                  <label for="{{ option.label }}">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-sidebar>
</div>
