<div class="page">
  <div class="container panelHeader">
    <div class="titulo-bloque u-mb-5">Tablero de control</div>
    <button
      class="btn btn-primary"
      routerLink="/auditoria/:id/:isReading/:sectionId"
    >
      Nueva Auditoría
    </button>
  </div>
  <div class="container">
    <div class="panel">
      <div class="panel__content">
        <table class="panel__table">
          <thead>
            <tr>
              <th>Denuncias / Carpetas</th>
              <th>Por iniciar</th>
              <th>Auditoría</th>
              <th colspan="2">Oficio / observaciones</th>
              <th>Crédito Fiscal</th>
              <th>Recurso Revocación</th>
              <th>Juicio Nulidad</th>
              <th>Amparo Directo</th>
              <th>Amparo directo en revisión</th>
            </tr>
          </thead>
          <tbody>
            <!-- Fila de SAT-->
            <tr>
              <td></td>
              <td class="panel__title" colspan="6">SAT</td>
            </tr>
            <!-- Fila de titulos -->
            <tr>
              <td class="panel__title">FGR y SAT</td>
              <td></td>
              <td></td>
              <td class="panel__title" colspan="2">PRODECON</td>
              <td></td>
              <td></td>
              <td class="panel__title">TFJA</td>
              <td class="panel__title">TCC</td>
              <td class="panel__title">SCJN</td>
            </tr>
            <tr>
              <td class="panel__column1">
                <div class="panel__top">
                  <div class="panel__card panel__card--gray">TABAN</div>
                  <div class="panel__card panel__card--gray">YADI</div>
                  <div class="panel__card panel__card--gray">
                    ESPECIALIDAD 18
                  </div>
                  <div class="panel__card panel__card--white">
                    Acciones legales ofensivas
                  </div>
                </div>
                <div class="panel__bottom">
                  <div class="panel__bottom-title">Juicios Garantías</div>
                  <div class="panel__bottom-subtitle">PGF</div>
                  <div class="panel__bottom-content">
                    <div class="panel__card panel__card--darkGray">
                      GRKT Juzgado distrito
                    </div>
                    <div class="panel__card panel__card--darkGray">
                      TOTAL PLAY Juzgado distrito
                    </div>
                    <div class="panel__card panel__card--darkGray">
                      GRKT TCC
                    </div>
                    <div class="panel__card panel__card--darkGray">TVA SAT</div>
                    <div class="panel__card panel__card--darkGray">NEM SAT</div>
                  </div>
                </div>
              </td>
              <td class="panel__column2">
                <div class="panel__column2-content">
                  <div class="panel__card panel__card--gray">
                    TOTALPLAY 2018
                  </div>
                </div>
              </td>
              <td class="panel__column3">
                <div class="panel__column3-content">
                  <div
                    routerLink="/dashboard"
                    class="panel__card panel__border panel__card--gray"
                  >
                    TOTALPLAY 2018
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2019 C. Ext
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2020 C. Ext
                  </div>
                  <div class="panel__card panel__card--white">
                    TVA 2020 C. Ext
                  </div>
                  <div class="panel__card panel__card--white">
                    TVA 2020 C. Ext
                  </div>
                  <div class="panel__card panel__card--gray">
                    Cobre Mayo ´16
                  </div>
                  <div class="panel__card panel__card--gray">SIIEN ´21</div>
                  <div class="panel__card panel__card--gray">
                    EKTCOM 2015 ($148 MDP)
                  </div>
                  <div class="panel__card panel__card--gray">
                    EKTCOM 2016 ($1,753 MDP)
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2015 G. Interco. ($1,568 MDP)
                    <img
                      class="panel__connectivity"
                      src="assets/img/iconos/ico-connectivity.svg"
                      alt=""
                    />
                  </div>
                  <div class="panel__card panel__card--gray">
                    TVA 2016 G. Interco. ($72 MDP)
                    <img
                      class="panel__connectivity"
                      src="assets/img/iconos/ico-connectivity.svg"
                      alt=""
                    />
                  </div>
                  <div class="panel__card panel__card--gray">
                    Comerciacom 2016 ($58 MDP)
                  </div>
                  <div class="panel__card panel__card--gray">
                    NEM 2017 y 2018 ($4,000 MDP - Base)
                  </div>
                  <div class="panel__card panel__card--gray">Mazatlán 2018</div>
                </div>
              </td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="panel__footer">
          <div class="panel__footer-content">
            <div>
              <img
                src="assets/img/iconos/ico-connectivity.svg"
                alt="icono conectividad"
              />
              <span>Conectividad entre asuntos</span>
            </div>
            <div>
              <img src="assets/img/iconos/ico-gs.svg" alt="icono GS" />
              <span>GS</span>
            </div>
            <div>
              <img
                src="assets/img/iconos/ico-external.svg"
                alt="icono externa"
              />
              <span>Externa</span>
            </div>
            <div>
              <img src="assets/img/iconos/ico-bss.svg" alt="icono externa" />
              <span>BSS/HSS/NSS</span>
            </div>
            <div>
              <img
                src="assets/img/iconos/ico-resolution.svg"
                alt="icono resolucion"
              />
              <span>Mina</span>
            </div>
            <div>
              <img src="assets/img/iconos/ico-mina.svg" alt="icono externa" />
              <span>Resolución desfavorable</span>
            </div>
            <div>
              <img
                src="assets/img/iconos/ico-negotiation.svg"
                alt="icono negociación"
              />
              <span>En negociación</span>
            </div>
          </div>
        </div>
        <div class="panel__footer-italic">
          * Las cifras reflejan montos con accesorios
        </div>
      </div>
    </div>
  </div>
</div>
