<section class="audit catalogs">
  <!-- ***************************UNIDAD DE NEGOCIO*************************** -->
  <form
    [formGroup]="formUnidadNegocio"
    (ngSubmit)="addData(formUnidadNegocio, 'unidadNegocio')"
    *ngIf="catalog == 'unidadNegocio'"
  >
    <div class="audit__columns2 u-mb-50">
      <div class="p-field styleInput">
        <label for="unidadNegocio">Nombre de unidad de negocio</label>
        <input
          id="unidadNegocio"
          type="text"
          placeholder="Ingresa la unidad de negocio"
          pInputText
          formControlName="nombre"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formUnidadNegocio, 'nombre')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="rfc">RFC</label>
        <input
          id="rfc"
          type="text"
          placeholder="Ingresa el rfc"
          pInputText
          formControlName="rfc"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formUnidadNegocio, 'rfc')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="siglas">Siglas</label>
        <input
          id="siglas"
          type="text"
          placeholder="Ingresa las siglas"
          pInputText
          formControlName="siglas"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formUnidadNegocio, 'siglas')"
          >* Campo requerido.</small
        >
      </div>
    </div>
    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Agregar</button>
      </div>
    </div>
  </form>

  <!-- ***************************INSTRUMENTO*************************** -->
  <!-- ***************************************************************** -->

  <!-- ***************************MIEMBROS DEL ÁREA / ADMINISTRADOR / ADMINISTRADOR CENTRAL / ADMINISTRADOR GENERAL*************************** -->
  <form
    [formGroup]="formMiembrosArea"
    *ngIf="
      catalog == 'responsableArea' ||
      catalog == 'administradorArea' ||
      catalog == 'administradorCentral' ||
      catalog == 'administradorGeneral'"
    (ngSubmit)="addData(formMiembrosArea, catalog)"
  >
    <div class="audit__columns2 u-mb-50">
      <div class="p-field styleInput">
        <label>Nombre del área</label>
        <div class="audit__flex">
          <div>
            <p-autoComplete formControlName="nombreArea"></p-autoComplete>
            <small
              class="audit__required"
              *ngIf="auditoriaService.validaCampo(formMiembrosArea, 'nombreArea')"
              >* Campo requerido.</small
            >
          </div>
          <img src="assets/img/iconos/gear-fill.svg" (click)="openSecondSidebar('areaEquipo')"/>
        </div>

      </div>

      <div></div>

      <div class="p-field styleInput">
        <label for="representanteLegal">Nombres</label>
        <input
          id="representanteLegal"
          type="text"
          placeholder="Ingresa nombre del representante"
          pInputText
          formControlName="nombre"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formMiembrosArea, 'nombre')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          id="apellidoPaterno"
          type="text"
          placeholder="Ingresa el apellido paterno"
          pInputText
          formControlName="apellidoPat"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formMiembrosArea, 'apellidoPat')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          id="apellidoMaterno"
          type="text"
          placeholder="Ingresa el apellido materno"
          pInputText
          formControlName="apellidoMat"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formMiembrosArea, 'apellidoMat')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="siglas">Siglas</label>
        <input
          id="siglas"
          type="text"
          placeholder=""
          pInputText
          formControlName="siglas"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formMiembrosArea, 'siglas')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="email">Correo</label>
        <input
          id="email"
          type="text"
          placeholder=""
          pInputText
          formControlName="email"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formMiembrosArea, 'email')"
          >* Campo requerido.</small
        >
      </div>
    </div>

    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Agregar</button>
      </div>
    </div>
  </form>

  <!-- ***************************ÁREA INTERNA*************************** -->
  <!-- ********************************************************** -->


  <!-- ***************************CONTENCIOSO*************************** -->
  <form
    [formGroup]="formContencioso"
    *ngIf="catalog == 'contencioso'"
    (ngSubmit)="addData(formContencioso, catalog)"
  >
    <div class="audit__columns2 u-mb-50">
      <div class="p-field styleInput">
        <label for="representanteLegal">Tipo de abogado</label>
        <div class="styleInput__radioButton">
          <div class="field-radiobutton">
            <p-radioButton
              name="typeLawyer"
              value="interno"
              formControlName="typeLawyer"
            ></p-radioButton>
            <label>Física</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="typeLawyer"
              value="externo"
              formControlName="typeLawyer"
            ></p-radioButton>
            <label>Buzón tributario</label>
          </div>
        </div>

      </div>

      <div></div>

      <div class="p-field styleInput">
        <label for="representanteLegal">Nombres</label>
        <input
          id="representanteLegal"
          type="text"
          placeholder="Ingresa nombre del representante"
          pInputText
          formControlName="nombre"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formContencioso, 'nombre')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          id="apellidoPaterno"
          type="text"
          placeholder="Ingresa el apellido paterno"
          pInputText
          formControlName="apellidoPat"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formContencioso, 'apellidoPat')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          id="apellidoMaterno"
          type="text"
          placeholder="Ingresa el apellido materno"
          pInputText
          formControlName="apellidoMat"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formContencioso, 'apellidoMat')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="siglas">Siglas</label>
        <input
          id="siglas"
          type="text"
          placeholder=""
          pInputText
          formControlName="siglas"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formContencioso, 'siglas')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="email">Correo</label>
        <input
          id="email"
          type="text"
          placeholder=""
          pInputText
          formControlName="email"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formContencioso, 'email')"
          >* Campo requerido.</small
        >
      </div>
    </div>

    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Agregar</button>
      </div>
    </div>
  </form>

  <!-- ***************************AUTORIDAD*************************** -->
  <form
    [formGroup]="formAutoridad"
    (ngSubmit)="addData(formAutoridad, catalog)"
    *ngIf="catalog == 'autoridad'"
    class="space-bottom"
  >
    <div class="audit__columns2 u-mb-50">
      <div class="p-field styleInput">
        <label>Nombre de la autoridad</label>
        <input
          type="text"
          placeholder="Ingresa nombre de la autoridad"
          pInputText
          formControlName="nombreAutoridad"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formAutoridad, 'nombreAutoridad')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="sigla">Sigla</label>
        <input
          id="sigla"
          type="text"
          placeholder=""
          pInputText
          formControlName="sigla"
        />
        <small
          class="audit__required"
          *ngIf="
            auditoriaService.validaCampo(formAutoridad, 'sigla')
          "
          >* Campo requerido.</small
        >
      </div>
    </div>
    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Agregar</button>
      </div>
    </div>
  </form>

  <!-- ***************************ÁREA EQUIPO*************************** -->
  <form
    [formGroup]="formAreaEquipo"
    (ngSubmit)="addData(formAreaEquipo, catalog)"
    *ngIf="catalog == 'areaEquipo'"
    class="space-bottom"
  >
    <div class="audit__columns2 u-mb-50">

      <div class="p-field styleInput">
        <label for="nombreAutoridad">Nombre de la autoridad</label>
        <div class="audit__flex">
          <div>
            <p-autoComplete formControlName="nombreAutoridad"></p-autoComplete>
            <small
              class="audit__required"
              *ngIf="auditoriaService.validaCampo(formAreaEquipo, 'nombreAutoridad')"
              >* Campo requerido.</small
            >
          </div>
          <img src="assets/img/iconos/gear-fill.svg" (click)="openSecondSidebar('autoridad')" />
        </div>
      </div>

      <div class="p-field styleInput">
        <label for="area">Nombre del área</label>
        <input
          id="area"
          type="text"
          placeholder="Ingresa el nombre del área"
          pInputText
          formControlName="nombreArea"
        />
        <small
          class="audit__required"
          *ngIf="
            auditoriaService.validaCampo(formAreaEquipo, 'nombreArea')
          "
          >* Campo requerido.</small
        >
      </div>
    </div>
    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Agregar</button>
      </div>
    </div>
  </form>

  <!-- ***************************REPRESENTANTE LEGAL*************************** -->
  <form
    [formGroup]="formRepresentante"
    *ngIf="catalog == 'representanteLegal'"
    (ngSubmit)="addData(formRepresentante, catalog)"
  >
  <!-- <div *ngIf="catalog == 'representanteLegal'" class="sectionNoBg__title" style="margin-bottom:43px;">Asignar unidad de negocio</div> -->

    <div class="audit__columns2 u-mb-50">
      <div class="p-field styleInput">
        <label for="representanteLegal">Nombre de unidad de negocio</label>
        <div class="audit__flex">
          <div>
            <p-autoComplete formControlName="nombreUnidadNegocio"></p-autoComplete>
            <small
              class="audit__required"
              *ngIf="auditoriaService.validaCampo(formRepresentante, 'nombreUnidadNegocio')"
              >* Campo requerido.</small
            >
          </div>
          <img src="assets/img/iconos/gear-fill.svg" 
            (click)="openSecondSidebar('unidadNegocio')"
          />
        </div>

      </div>

      <div></div>

      <div class="p-field styleInput">
        <label for="representanteLegal">Nombres</label>
        <input
          id="representanteLegal"
          type="text"
          placeholder="Ingresa nombre del representante"
          pInputText
          formControlName="nombre"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formRepresentante, 'nombre')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          id="apellidoPaterno"
          type="text"
          placeholder="Ingresa el apellido paterno"
          pInputText
          formControlName="apellidoPat"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formRepresentante, 'apellidoPat')"
          >* Campo requerido.</small
        >
      </div>

      <div class="p-field styleInput">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          id="apellidoMaterno"
          type="text"
          placeholder="Ingresa el apellido materno"
          pInputText
          formControlName="apellidoMat"
        />
        <small
          class="audit__required"
          *ngIf="auditoriaService.validaCampo(formRepresentante, 'apellidoMat')"
          >* Campo requerido.</small
        >
      </div>
    </div>

    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Agregar</button>
      </div>
    </div>
  </form>


  <!-- ***************************TIPO REQUERIMIENTO*************************** -->
  <form
    [formGroup]="formTipoRequerimiento"
    *ngIf="catalog == 'tipoRequerimiento'"
    (ngSubmit)="addData(formTipoRequerimiento, 'tipoRequerimiento')"
  >
    <div class="audit__columns1 u-mb-50">
      <div class="p-field styleInput">
        <label for="representanteLegal">Tipo de reuqerimiento</label>
        <textarea
          id="tipoRequerimiento"
          formControlName="tipoRequerimiento"
          placeholder="Ingresa texto"
          pInputTextarea
        ></textarea>
        <small
          class="audit__required"
          *ngIf="
            auditoriaService.validaCampo(
              formTipoRequerimiento,
              'tipoRequerimiento'
            )
          "
          >* Campo requerido.</small
        >
      </div>
    </div>

    <div class="audit__columns2 u-mb-50">
      <!-- ***************************COLUMNA 1*************************** -->
      <div class="audit__team">
        <div class="p-field styleInput">
          <div class="label-checks">
            <p-checkbox
              [(ngModel)]="materialidadChecked"
              [binary]="true"
              inputId="materialidad"
            ></p-checkbox>
            <label for="materialidad">Materialidad</label>
          </div>
        </div>

        <div class="p-field styleInput">
          <label>Tipo de documentos</label>
          <div class="audit__flex">
            <p-autoComplete
              [suggestions]="filteredDocuments"
              (completeMethod)="filter($event, tipoDocumentosList)"
              placeholder="Búsqueda autocomplete"
              formControlName="tipo"
            ></p-autoComplete>
            <img src="assets/img/iconos/gear-fill.svg" alt="" />
            <small
              class="audit__required"
              *ngIf="auditoriaService.validaCampo(formRepresentante, 'nombre')"
              >* Campo requerido.</small
            >
          </div>
        </div>

        <div class="p-field">
          <div class="content_type_docs">
            <div class="bg-type-docs">
              Contratos <span class="ico-delet-type-docs">x</span>
            </div>
            <div class="bg-type-docs">
              Balanzas <span class="ico-delet-type-docs">x</span>
            </div>
            <div class="bg-type-docs">
              Tickets <span class="ico-delet-type-docs">x</span>
            </div>
          </div>
        </div>
      </div>

      <!-- ***************************COLUMNA 2*************************** -->
      <div class="audit__team">
        <div class="p-field styleInput">
          <div class="label-checks">
            <p-checkbox
              [(ngModel)]="legalidadChecked"
              [binary]="true"
              inputId="legalidad"
            ></p-checkbox>
            <label for="legalidad">Legalidad</label>
          </div>
        </div>

        <div class="p-field styleInput">
          <label>Tipo de documentos</label>
          <div class="audit__flex">
            <p-autoComplete
              [suggestions]="filteredDocuments"
              (completeMethod)="filter($event, tipoDocumentosList)"
              placeholder="Búsqueda autocomplete"
              formControlName="tipoDocumento"
            ></p-autoComplete>
          </div>
        </div>

        <div class="p-field styleInput">
          <div class="height-label"></div>
          <input
            type="text"
            placeholder="Ingresa tipo de documento"
            pInputText
            formControlName="tipoDoc"
          />
        </div>

        <div class="p-field styleInput">
          <div class="height-label"></div>
          <input
            type="text"
            placeholder="Ingresa tipo de documento"
            pInputText
          />
        </div>
      </div>
    </div>

    <div class="audit__columns1">
      <div class="buttons-content">
        <button type="submit" class="btn-primary">Guardar</button>
      </div>
    </div>
  </form>


  <div class="content-items-to-show">
    <label>Registros a mostrar</label>
    <p-dropdown [options]="rowsPerPageOptions" (onChange)="changeRows($event)"></p-dropdown>
  </div>

  <!-- ***********************************TABLES*********************************** -->
  <div class="requirements__content">
    <div class="requirements__overflow">

      <p-table [columns]="cols" [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll" dataKey="id"
      [paginator]="false" [rows]="rowNumber" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['nombre']">
        <ng-template pTemplate="header">
            <tr>
                <th colspan="9" pSortableColumn="nombre">Valor <p-sortIcon field="nombre"></p-sortIcon></th>
            </tr>
            <tr>
              <th colspan="9">
                <p-columnFilter field="list" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="list" optionLabel="nombre" appendTo="body" (onChange)="filterData($event.value)" placeholder="Selecciona un nombre..."></p-dropdown>
                    </ng-template>
                </p-columnFilter>
              </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngIf="
                catalog == 'administradorGeneral' || 
                catalog == 'administradorCentral' || 
                catalog == 'administradorArea'">
                <p-tableRadioButton></p-tableRadioButton>
              </td>
              <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
              <td><img src="assets/img/iconos/ico-trash.svg" /></td>
              <td><img src="assets/img/iconos/ico-pencil-square.svg" /></td>
            </tr>
        </ng-template>
      </p-table>

      <p-paginator
        [rows]="rowNumber"
        [totalRecords]="list.length"
        (onPageChange)="paginate($event)"
      ></p-paginator>
    </div>
  </div>

  <div class="content-items-to-show">
    Número de Registros: {{list.length}}
  </div>

  <div class="buttons-content">
    <button type="button" class="btn-primary" (click)="isSecondSidebar ? toBack() : cancel()">{{isSecondSidebar ? 'Regresar' : 'Cerrar'}}</button>
  </div>
  <br>
</section>

