<div class="page">
  <div class="container">
    <div class="detailArea u-mb-40">
      <div class="titulo-bloque">Contabilidad</div>
      <div class="detailArea__content">
        <div class="p-field styleInput">
          <label for="anio">Seleccionar auditoría</label>
          <p-dropdown [options]="audi" optionLabel="name"></p-dropdown>
        </div>
        <div class="p-field styleInput">
          <label for="anio">Seleccionar oficio</label>
          <p-dropdown [options]="ofi" optionLabel="name"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="dialogReq">
      <div class="section">
        <div class="section__title">
          Tareas <br />
          BAZ 2016 - Oficio 230/2022 - Requerimiento de información
        </div>
        <div class="section__content">
          <p-table class="table" [value]="reqColaborador">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="responsable">
                  Responsable <p-sortIcon field="responsable"></p-sortIcon>
                </th>
                <th pSortableColumn="requerimiento">
                  Tipo de documento
                  <p-sortIcon field="requerimiento"></p-sortIcon>
                </th>
                <th pSortableColumn="tipoDeRequerimiento">
                  Acredita
                  <p-sortIcon field="tipoDeRequerimiento"></p-sortIcon>
                </th>
                <th pSortableColumn="estatus">
                  Estatus actual <p-sortIcon field="estatus"></p-sortIcon>
                </th>
                <th pSortableColumn="fechaEntrega">
                  Fecha de entrega
                  <p-sortIcon field="fechaEntrega"></p-sortIcon>
                </th>
                <th>&nbsp;</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reqColaborador>
              <tr>
                <td>{{ reqColaborador.responsable }}</td>
                <td>{{ reqColaborador.tipo }}</td>
                <td>{{ reqColaborador.acredita }}</td>
                <td>
                  <div class="semaphore">
                    <span
                      [ngClass]="{
                        semaphore__delivery:
                          reqColaborador.estatus == 'Pendiente de entrega',
                        semaphore__ready: reqColaborador.estatus == 'Listo',
                        semaphore__revision:
                          reqColaborador.estatus == 'Pendiente de revisión',
                        semaphore__introduce:
                          reqColaborador.estatus == 'No se va a presentar',
                        semaphore__undelivered:
                          reqColaborador.estatus == 'No entregado',
                        semaphore__notReviewed:
                          reqColaborador.estatus == 'No revisado',
                        semaphore__additional:
                          reqColaborador.estatus == 'Cambios adicionales',
                        semaphore__wrong:
                          reqColaborador.estatus == 'Entregado mal'
                      }"
                    ></span>
                    <span>{{ reqColaborador.estatus }}</span>
                  </div>
                </td>
                <td>{{ reqColaborador.fechaEntrega }}</td>
                <td>
                  <a class="link" routerLink="/ver-detalle"> Ver detalle </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
