<div class="page">
  <div class="container">
    <div class="div">
      <div class="titulo-bloque u-mb-5">Contabilidad</div>
      <div>
        <div class="p-field styleInput">
          <label for="anio">Año de la auditoría</label>
          <p-dropdown [options]="audi" optionLabel="name"></p-dropdown>
        </div>
        <div class="p-field styleInput">
          <label for="anio">Seleccionar oficio</label>
          <p-dropdown [options]="audi" optionLabel="name"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
