<div class="page">
  <div class="container d-flex-auditoria">
    <div class="titulo-bloque">Nueva auditoría</div>
    <div>
      <span>Estado procesal:</span>
      <span>Por iniciar</span>
    </div>
  </div>

  <app-form-auditoria
    [isReading]="isReading"
    [unidadeNegocio]="unidadeNegocio"
    [representantes]="representantes"
    [auditoria]="auditoria"
    [areas]="areas"
    [idAuditoria]="idAuditoria"
    (auditoriaDataOut)="getformAuditoriaData($event)"
    (auditoriaDataEtapaOut)="getFormEtapaData($event)"
  ></app-form-auditoria>

  <section class="requirements">
    <div class="container">
      <div class="section dataSheet">
        <div class="section__title">Requerimientos</div>
        <div class="section__content">
          <div class="requirements__content">
            <div class="requirements__overflow">
              <table class="table table-requirements">
                <thead>
                  <tr>
                    <th>Partida</th>
                    <th style="width: 257px">Descripción del requerimiento</th>
                    <th style="width: 200px">Tipo de documentos</th>
                    <th>Área responsable</th>
                    <th>Estatus</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="requirements.length > 0">
                  <tr *ngFor="let r of requirements; let i = index">
                    <td>{{ r.partida }}</td>

                    <td id="{{ i + '-descriptionNoComplete' }}" class="show">
                      {{ applicaSubtr(r.description) }} <br />
                      <a
                        (click)="
                          showAndHidden(
                            i + '-descriptionComplete',
                            i + '-descriptionNoComplete'
                          )
                        "
                        ><strong>Ver mas</strong></a
                      >
                    </td>
                    <td id="{{ i + '-descriptionComplete' }}" class="hidden">
                      {{ r.description }} <br />
                      <a
                        (click)="
                          showAndHidden(
                            i + '-descriptionNoComplete',
                            i + '-descriptionComplete'
                          )
                        "
                        ><strong>Ver menos</strong></a
                      >
                    </td>

                    <td id="{{ i + '-tipoDocNoComplete' }}" class="show">
                      {{ applicaSubtr(r.documentsType[0].description) }}
                      <br />
                      <a
                        (click)="
                          showAndHidden(
                            i + '-tipoDocComplete',
                            i + '-tipoDocNoComplete'
                          )
                        "
                        ><strong>Ver mas</strong></a
                      >
                    </td>
                    <td id="{{ i + '-tipoDocComplete' }}" class="hidden">
                      {{ r.documentsType[0].description }} <br />
                      <a
                        (click)="
                          showAndHidden(
                            i + '-tipoDocNoComplete',
                            i + '-tipoDocComplete'
                          )
                        "
                        ><strong>Ver menos</strong></a
                      >
                    </td>

                    <td>{{ r.areaResponsible }}</td>

                    <td>
                      <div class="semaphore">
                        <span
                          [ngClass]="{
                            semaphore__delivery:
                              r.state == 'Pendiente de entrega',
                            semaphore__ready: r.state == 'Listo',
                            semaphore__revision:
                              r.state == 'Pendiente de revisión',
                            semaphore__introduce:
                              r.state == 'No se va a presentar',
                            semaphore__undelivered: r.state == 'No entregado',
                            semaphore__notReviewed: r.state == 'No revisado',
                            semaphore__additional:
                              r.state == 'Cambios adicionales',
                            semaphore__wrong: r.state == 'Entregado mal'
                          }"
                        ></span>
                        <span>{{ r.state }}</span>
                      </div>
                    </td>
                    <td>
                      <div
                        class="requirements__icon"
                        (click)="
                          openModalConfirm(
                            true,
                            'Eliminar requerimiento',
                            'ico-trash',
                            'delete',
                            r.id
                          )
                        "
                      >
                        <img src="assets/img/iconos/ico-trash.svg" />
                      </div>
                    </td>
                    <td>
                      <div class="requirements__icon">
                        <img
                          [routerLink]="['/requerimiento/', r.id]"
                          src="assets/img/iconos/ico-pencil-square.svg"
                        />
                      </div>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="requirements.length == 0">
                  <tr>
                    <td
                      colspan="7"
                      style="
                        font-size: 13px;
                        text-align: center;
                        font-style: italic;
                        color: #929292;
                      "
                    >
                      Sin requerimientos...
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="requirements__button">
              <button
                [ngClass]="dButton ? 'btn-primary-disabled' : 'btn-primary'"
                [routerLink]="['/requerimiento/', 0]"
              >
                Nuevo requerimiento
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<p-dialog
  class="confirmDelete"
  [(visible)]="this.displayConfirma"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-modales
    [typeModal]="'modal5'"
    [displayModal]="displayConfirma"
    [message]="message"
    [icon]="icon"
    (result)="getResutlModal($event)"
  >
  </app-modales>
</p-dialog>