<div class="page">
  <div class="container d-flex-auditoria">
    <div class="titulo-bloque">Nueva auditoría</div>
    <div>
      <span>Estado procesal:</span>
      <span>Por iniciar</span>
    </div>
  </div>

  <app-form-auditoria
    [isReading]="isReading"
    [unidadeNegocio]="unidadeNegocio"
    [representantes]="representantes"
    [auditoria]="auditoria"
    [areas]="areas"
    [idAuditoria]="idAuditoria"
    (auditoriaDataOut)="getformAuditoriaData($event)"
    (auditoriaDataEtapaOut)="getFormEtapaData($event)"
  ></app-form-auditoria>

  <section class="requirements">
    <div class="container">
      <div class="section dataSheet">
        <div class="section__title">Requerimientos</div>
        <div class="section__content">
          <div class="requirements__content">
            <div class="requirements__overflow">
              <table class="table table-requirements">
                <thead>
                  <tr>
                    <th>Partida</th>
                    <th style="width:257px;">Descripción del requerimiento</th>
                    <th style="width:200px;">Tipo de documentos</th>
                    <th>Área responsable</th>
                    <th>Estatus</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="requirements.length > 0">
                  <tr *ngFor="let r of requirements; let i = index;">
                    <td>{{ r.typePartida }}</td>

                    <td id="{{i + '-descriptionNoComplete'}}" class="show">{{applicaSubtr(r.description)}} <br>
                      <a (click)="showAndHidden(i + '-descriptionComplete', i + '-descriptionNoComplete')"><strong>Ver mas</strong></a> 
                    </td>
                    <td id="{{i + '-descriptionComplete'}}" class="hidden">{{r.description}} <br>
                      <a (click)="showAndHidden(i + '-descriptionNoComplete', i + '-descriptionComplete')"><strong>Ver menos</strong></a>
                    </td>

                    <td id="{{i + '-tipoDocNoComplete'}}" class="show">{{applicaSubtr(r.description)}} <br>
                      <a (click)="showAndHidden(i + '-tipoDocComplete', i + '-tipoDocNoComplete')"><strong>Ver mas</strong></a> 
                    </td>
                    <td id="{{i + '-tipoDocComplete'}}" class="hidden">{{r.description}} <br>
                      <a (click)="showAndHidden(i + '-tipoDocNoComplete', i + '-tipoDocComplete')"><strong>Ver menos</strong></a>
                    </td>

                    <td>{{ r.areaResponsible }}</td>
                    <td><span class="main-font-demi">{{ r.state }}</span></td>
                    <td>
                      <div
                        class="requirements__icon"
                        (click)="
                          openModalConfirm(
                            true,
                            '¿Está seguro de eliminar este dato?',
                            'ico-trash',
                            'delete',
                            r.id
                          )
                        "
                      >
                        <img src="assets/img/iconos/ico-trash.svg" />
                      </div>
                    </td>
                    <td>
                      <div class="requirements__icon">
                        <img
                          routerLink="/ver-detalle"
                          src="assets/img/iconos/ico-pencil-square.svg"
                        />
                      </div>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="requirements.length == 0">
                  <tr>
                    <td
                      colspan="7"
                      style="
                        font-size: 13px;
                        text-align: center;
                        font-style: italic;
                        color: #929292;
                      "
                    >
                      Sin requerimientos...
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="requirements__button">
              <button
                [ngClass]="dButton ? 'btn-primary-disabled' : 'btn-primary'"
                (click)="displayNuevoReq = true"
              >
                Nuevo requerimiento
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p-dialog
  header="Nuevo Requerimiento"
  class="modalNewReq"
  [(visible)]="displayNuevoReq"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="formRequerimiento">
    <div class="modalNewReq__grid u-mb-40">
      <!-- Autocomplete Partida -->
      <div class="p-field styleInput">
        <label for="area">Partida</label>
        <div class="audit__flex">
          <div>
            <p-autoComplete [suggestions]="filterGeneral" (completeMethod)="search($event, partidas)" formControlName="typePartida"></p-autoComplete>
            <small
              class="audit__required"
              *ngIf="auditoriaService.validaCampo(formRequerimiento, 'typePartida')"
              >* Campo requerido.</small
            >
          </div>

          <img
            src="assets/img/iconos/gear-fill.svg"
            (click)="
              visibleSidebar = true;
              catalogName = 'Agrega tipo de requerimiento';
              catalog = 'tipoRequerimiento'
            "
          />
        </div>
      </div>

      <div></div>

      <!-- Autocomplete Documento -->
      <ng-container [formGroup]="formDocuments">
        <div class="p-field styleInput">
          <label for="area">Tipo de documento</label>
          <div class="audit__flex">
            <div>
              <p-autoComplete [suggestions]="filterGeneral" (completeMethod)="search($event, typesDocuments)" formControlName="typeDocument"></p-autoComplete>
              <small
                class="audit__required"
                *ngIf="auditoriaService.validaCampo(formDocuments, 'typeDocument')"
                >* Campo requerido.</small
              >
            </div>
  
            <img
              src="assets/img/iconos/gear-fill.svg"
              (click)="
                visibleSidebar = true;
                catalogName = 'Agrega tipo de requerimiento';
                catalog = 'tipoRequerimiento'
              "
            />
          </div>
        </div>
  
        <div class="p-field styleInput">
          <label for="area">Descripción de documento</label>
          <div class="audit__flex">
            <div>
              <input type="text" pInputText formControlName="descriptionDocument">
            </div>
            <button type="button" class="btn-primary btn-size-complete" (click)="addTypeDocumentChip()">Agregar</button>
          </div>
        </div>
      </ng-container>
      

      <div class="p-field styleInput inputTextArea">
        <div>
          <p-chip *ngFor="let document of typesDocumentsChips" label="{{document.typeDocument}}" class="cursor-pointer" (click)="op.toggle($event)">
            <p-overlayPanel #op [showCloseIcon]="true">
              <ng-template pTemplate>
                <div class="overlay-panel">
                  <div>{{document.typeDocument}}</div>

                  <div>Descripción:</div>
                  <div>{{document.descriptionDocument}}</div>

                  <div
                    class="icon-delete-overlay"
                    (click)="
                      openModalConfirm(
                        true,
                        '¿Está seguro de eliminar este tipo de documento?',
                        'ico-trash',
                        'delete-typeDocument',
                        document.id
                      )
                    "
                  >
                    <img src="assets/img/iconos/ico-trash.svg" />
                  </div>
                </div>
              </ng-template>
            </p-overlayPanel>
          </p-chip>
          
        </div>
      </div>

      

      <!-- Checkbox Tipo de Requerimiento -->
      <div class="p-field styleInput">
        <label>Tipo de requerimiento</label>
        <div class="audit__flex field-checkbox">
          <p-checkbox
            name="group1"
            value="Documental / Probatorio"
            formControlName="typeRequestDocument"
          ></p-checkbox>
          <label>Documental / Probatorio</label>
        </div>
        <div class="audit__flex field-checkbox">
          <p-checkbox
            name="group1"
            value="Descriptivo / Argumentativo"
            formControlName="typeRequestDescrip"
          ></p-checkbox>
          <label>Descriptivo / Argumentativo</label>
        </div>
        <div class="audit__flex field-checkbox">
          <p-checkbox
            name="group1"
            value="Nuevo"
            formControlName="typeRequestNuevo"
          ></p-checkbox>
          <label>Nuevo</label>
        </div>
      </div>

      <!-- Input Acredita -->
      <div class="p-field styleInput">
        <label>Acredita</label>
        <input
          pInputText
          [class.input-disabled]="true"
          formControlName="acredita"
        />
      </div>

      <!-- Textarea descripción del requerimiento -->
      <div class="p-field styleInput inputTextArea">
        <label>Descripción del requerimiento</label>
        <textarea pInputTextarea></textarea>
      </div>

      <!-- Autocomplete Área responsable -->
      <div class="p-field styleInput">
        <label>Área responsable</label>
        <div class="audit__flex">
          <div>
            <p-autoComplete [suggestions]="filterGeneral" (completeMethod)="search($event, areasResponsible)" formControlName="areaResponsible"></p-autoComplete>
            <!-- <small
              class="audit__required"
              *ngIf="auditoriaService.validaCampo(formRequerimiento, 'area')"
              >* Campo requerido.</small
            > -->
          </div>
          <img src="assets/img/iconos/gear-fill.svg" />
        </div>
      </div>

      <!-- Autocomplete Área responsable -->
      <div class="p-field styleInput">
        <label>Responsable</label>
        <input
          pInputText
          [class.input-disabled]="true"
          formControlName="responsable"
        />
      </div>

      <!-- Input Fecha de entrega -->
      <div class="p-field styleInput">
        <label>Fecha de entrega</label>
        <p-calendar
          name="fechaEntrega"
          placeholder="Selecciona una opción"
          formControlName="dateDelivery"
        ></p-calendar>
      </div>
    </div>

    <div class="buttons-content">
      <button
        type="button"
        [ngClass]="
          buttonDisabled
            ? 'btn-outline-primary'
            : 'btn-outline-primary-disabled'
        "
        (click)="this.displayNuevoReq = false"
      >
        Cancelar
      </button>

      <button
        type="button"
        [ngClass]="buttonDisabled ? 'btn-primary' : 'btn-primary-disabled'"
        class=""
        (click)="saveDataReq()"
      >
        Guardar
      </button>
    </div>
  </form>
</p-dialog>

<p-dialog
  header="Confirmación"
  class="confirmDelete"
  [(visible)]="this.displayConfirma"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-modales
    [typeModal]="'modal5'"
    [displayModal]="displayConfirma"
    [message]="message"
    [icon]="icon"
    (result)="getResutlModal($event)"
  >
  </app-modales>
</p-dialog>
