<div class="page">
  <section class="search">
    <div class="container">
      <div class="section">
        <div class="section__content">
          <div class="search__flex">
            <div class="styleInput">
              <input type="text" pInputText />
            </div>
            <button class="btn btn-primary">Buscar</button>
          </div>
          <div class="search__grid">
            <div class="filters">
              <div class="filters__header">
                <span>Filtro</span>
                <span (click)="checkboxSelected = []">Limpiar filtros</span>
              </div>
              <div class="filters__result">
                <p-chip
                  *ngFor="let c of checkboxSelected"
                  label="{{ c }}"
                  [removable]="true"
                ></p-chip>
              </div>
              <div class="filters__filter">
                <div class="filters__box" *ngFor="let menu of filterMenu">
                  <div
                    class="filters__box-header"
                    (click)="showContent(menu.id)"
                  >
                    <span>{{ menu.name }}</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == menu.id
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == menu.id"
                  >
                    <div
                      class="field-checkbox filters__box-flex"
                      *ngFor="let m of menu.options"
                    >
                      <p-checkbox
                        name="group1"
                        [(ngModel)]="checkboxSelected"
                        value="{{ m.label }}"
                      >
                        ></p-checkbox
                      >
                      <label for="{{ m.label }}">{{ m.label }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Columna de tarjetas de resultado -->
            <div class="search__result">
              <div
                class="search__result-card"
                *ngFor="let result of cardResult"
              >
                <div class="search__result-header">
                  <span>{{ result.name }}</span>
                  <span>{{ result.status }}</span>
                </div>
                <div class="search__result-body">
                  {{ result.body }}
                </div>
                <div class="search__result-footer">
                  <div>
                    <img src="assets/img/iconos/ico-search-eye.svg" alt="" />
                    <img src="assets/img/iconos/ico-search-files.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
