<div class="page">
  <section class="search">
    <div class="container">
      <div class="section">
        <div class="section__content">
          <div class="search__flex">
            <div class="styleInput">
              <input type="text" pInputText />
            </div>
            <button class="btn btn-primary">Buscar</button>
          </div>
          <div class="search__grid">
            <div class="filters">
              <div class="filters__header">
                <span>Filtro</span>
                <span (click)="checkboxSelected = []">Limpiar filtros</span>
              </div>
              <div class="filters__result">
                <p-chip
                  *ngFor="let c of checkboxSelected"
                  label="{{ c }}"
                  [removable]="true"
                ></p-chip>
              </div>
              <div class="filters__filter">
                <!--Año-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(1)">
                    <span>Año</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 1
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == 1"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <div
                          class="field-checkbox filters__box-flex"
                          *ngFor="let f of filterYear"
                        >
                          <p-checkbox
                            name="group1"
                            [(ngModel)]="checkboxSelected"
                            value="{{ f.label }}"
                          >
                            ></p-checkbox
                          >
                          <label for="{{ f.label }}">{{ f.label }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Sociedad-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(2)">
                    <span>Sociedad</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 2
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content filters__box-contentUpdate"
                    *ngIf="content && idMenuFilter == 2"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <p-autoComplete [multiple]="true"> </p-autoComplete>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Representante Legal-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(3)">
                    <span>Representante Legal</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 3
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content filters__box-contentUpdate"
                    *ngIf="content && idMenuFilter == 3"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <p-autoComplete [multiple]="true"> </p-autoComplete>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Autoridad-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(4)">
                    <span>Autoridad</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 4
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == 4"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <div
                          class="field-checkbox filters__box-flex"
                          *ngFor="let option of filterAutoridad"
                        >
                          <p-checkbox
                            name="group1"
                            [(ngModel)]="checkboxSelected"
                            value="{{ option.label }}"
                          >
                            ></p-checkbox
                          >
                          <label for="{{ option.label }}">{{
                            option.label
                          }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Etapas de proceso-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(5)">
                    <span>Etapas de proceso</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 5
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == 5"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <div
                          class="field-checkbox filters__box-flex"
                          *ngFor="let option of filterEtapas"
                        >
                          <p-checkbox
                            name="group1"
                            [(ngModel)]="checkboxSelected"
                            value="{{ option.label }}"
                          >
                            ></p-checkbox
                          >
                          <label for="{{ option.label }}">{{
                            option.label
                          }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Partida-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(6)">
                    <span>Partida</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 6
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == 6"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <div
                          class="field-checkbox filters__box-flex"
                          *ngFor="let option of filterPartida"
                        >
                          <p-checkbox
                            name="group1"
                            [(ngModel)]="checkboxSelected"
                            value="{{ option.label }}"
                          >
                            ></p-checkbox
                          >
                          <label for="{{ option.label }}">{{
                            option.label
                          }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Tipo de requerimiento-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(7)">
                    <span>Tipo de requerimiento</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 7
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == 7"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <div
                          class="field-checkbox filters__box-flex"
                          *ngFor="let option of filterEtapas"
                        >
                          <p-checkbox
                            name="group1"
                            [(ngModel)]="checkboxSelected"
                            value="{{ option.label }}"
                          >
                            ></p-checkbox
                          >
                          <label for="{{ option.label }}">{{
                            option.label
                          }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Rango de Fechas-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(8)">
                    <span>Fecha de Entrega</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 8
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content filters__box-contentUpdate"
                    *ngIf="content && idMenuFilter == 8"
                  >
                    <div class="field-checkbox filters__box-flex no-display">
                      <!--Input de Fecha-->
                      <div class="styleInput u-mb-10">
                        <p-calendar
                          name="fechaInicio"
                          placeholder="Fecha de inicio"
                        ></p-calendar>
                      </div>
                      <div class="styleInput">
                        <p-calendar
                          name="fechaFin"
                          placeholder="Fecha de término"
                        ></p-calendar>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Tipo de Documento-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(9)">
                    <span>Tipo de Documento</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 9
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content filters__box-contentUpdate"
                    *ngIf="content && idMenuFilter == 9"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <p-autoComplete [multiple]="true"> </p-autoComplete>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Área responsable-->
                <div class="filters__box">
                  <div class="filters__box-header" (click)="showContent(10)">
                    <span>Área responsable</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == 10
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == 10"
                  >
                    <div class="filters__box-flex no-display">
                      <div class="styleInput">
                        <div
                          class="field-checkbox filters__box-flex"
                          *ngFor="let option of filterEtapas"
                        >
                          <p-checkbox
                            name="group1"
                            [(ngModel)]="checkboxSelected"
                            value="{{ option.label }}"
                          >
                            ></p-checkbox
                          >
                          <label for="{{ option.label }}">{{
                            option.label
                          }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="filters__box" *ngFor="let menu of filterMenu">
                  <div
                    class="filters__box-header"
                    (click)="showContent(menu.id)"
                  >
                    <span>{{ menu.name }}</span>
                    <img
                      alt="icono flecha abajo"
                      [src]="
                        content && idMenuFilter == menu.id
                          ? 'assets/img/iconos/ico-search-arrow-top.svg'
                          : 'assets/img/iconos/ico-search-arrow-bottom.svg'
                      "
                    />
                  </div>

                  <div
                    class="filters__box-content"
                    *ngIf="content && idMenuFilter == menu.id"
                  >
                    <div
                      class="field-checkbox filters__box-flex"
                      *ngFor="let m of menu.options"
                    >
                      <p-checkbox
                        name="group1"
                        [(ngModel)]="checkboxSelected"
                        value="{{ m.label }}"
                      >
                        ></p-checkbox
                      >
                      <label for="{{ m.label }}">{{ m.label }}</label>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

            <!--Columna de tarjetas de resultado -->
            <div class="search__result">
              <div
                class="search__result-card"
                *ngFor="let result of cardResult"
              >
                <div class="search__result-header">
                  <div>
                    <span>{{ result.nombre }}</span>
                    <span>{{ result.instrumentoPublico[0] }}</span>
                  </div>

                  <span
                    [ngClass]="{
                      search__finished: result.status == 'Terminado',
                      search__active: result.status == 'Activo'
                    }"
                    >{{ result.status }}</span
                  >
                </div>
                <div class="search__result-body">
                  {{ result.nombre }} - Banco Azteca S.A. de C.V. - Etapa
                  Crédito Fiscal - Contabilidad - Juan Pérez - Fecha de carga:
                  15/05/2016 Monto: ${{ result.monto }} MDP - Fecha de entrega:
                  25/05/2016
                </div>
                <div class="search__result-footer">
                  <div>
                    <img src="assets/img/iconos/ico-search-eye.svg" alt="" />
                    <img src="assets/img/iconos/ico-search-files.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
