<div class="page">

  <!--Formulario Notificación-->
  <section class="noti">
    <div class="container">
      <div class="sectionNoBg">
        <!-- <div class="sectionNoBg__title">Notificación</div> -->
        <div class="sectionNoBg__title">Datos generales de la etapa</div>
        <div class="sectionNoBg__content">
          <form [formGroup]="formNotificacion" class="noti__content">
            <div class="noti__grid">
              <div class="styleInput">
                <label>Tipo de notificación</label>
                <div class="styleInput__radioButton">
                  <div class="field-radiobutton">
                    <p-radioButton
                      name="tipoNotificacion"
                      value="fisica"
                      formControlName="tipoNotificacion"
                      (onClick)="changeNotiFisica()"
                    ></p-radioButton>
                    <label>Física</label>
                  </div>
                  <div class="field-radiobutton">
                    <p-radioButton
                      name="tipoNotificacion"
                      value="buzon tributario"
                      formControlName="tipoNotificacion"
                      (onClick)="changeNotiBuzon()"
                    ></p-radioButton>
                    <label>Buzón tributario</label>
                  </div>
                </div>
              </div>

              <div class="styleInput">
                <label>¿Existe {{ tipoMensaje }}?</label>
                <div class="styleInput__radioButton">
                  <div class="field-radiobutton">
                    <p-radioButton
                      name="existeMensaje"
                      value="si"
                      formControlName="existeMensaje"
                    ></p-radioButton>
                    <label>Si</label>
                  </div>
                  <div class="field-radiobutton">
                    <p-radioButton
                      name="existeMensaje"
                      value="no"
                      formControlName="existeMensaje"
                    ></p-radioButton>
                    <label>No</label>
                  </div>
                </div>
              </div>

              <div class="styleInput">
                <label for="basic">Fecha de {{ tipoComunicado }}</label>
                <p-calendar
                  name="fechaMensaje"
                  formControlName="fechaMensaje"
                  placeholder="Selecciona una opción"
                ></p-calendar>
              </div>

              <div class="styleInput" *ngFor="let file of files">
                <label>{{
                  file.label == "Citatorio" && formBuzon ? "Aviso" : file.label
                }}</label>
                <input
                  type="file"
                  class="inputFile"
                  name="tipoArchivo"
                  formControlName="tipoArchivo"
                  [id]="file.id"
                  (change)="handleFileInput($event, file)"
                />
                <label [for]="file.id"
                  ><span [ngClass]="{ 'u-txt-black': file.estatus }">{{
                    file.name
                  }}</span></label
                >
              </div>

              <div class="styleInput" *ngIf="formFisico">
                <label for="basic">Fecha de notificación</label>
                <p-calendar
                  name="fechaNotifacion"
                  formControlName="fechaNotifacion"
                  placeholder="Selecciona una opción"
                ></p-calendar>
              </div>

              <div class="styleInput" *ngIf="formBuzon">
                <label>Tipo de notificación</label>
                <div class="styleInput__radioButton">
                  <div class="field-radiobutton">
                    <p-radioButton
                      value="manual"
                      name="notificacionTipo"
                      formControlName="notificacionTipo"
                    ></p-radioButton>
                    <label>Manual</label>
                  </div>
                  <div class="field-radiobutton">
                    <p-radioButton
                      value="automatica"
                      name="notificacionTipo"
                      formControlName="notificacionTipo"
                    ></p-radioButton>
                    <label>Automática</label>
                  </div>
                </div>
              </div>

              <div
                [ngClass]="fechaTermino ? 'styleInput__disabled' : ''"
                class="styleInput"
              >
                <label>Fecha de término</label>
                <input
                  name="fechaTermino"
                  formControlName="fechaTermino"
                  placeholder="22/09/2022"
                  pInputText
                />
              </div>

              <div class="styleInput" *ngIf="formFisico">
                <label>¿Cumple con formalidades de la ley?</label>
                <div class="styleInput__radioButton">
                  <div class="field-radiobutton">
                    <p-radioButton
                      value="si"
                      name="cumpleLey"
                      formControlName="cumpleLey"
                      (click)="formFisico ? changeCitaSi() : ''"
                    ></p-radioButton>
                    <label>Si</label>
                  </div>
                  <div class="field-radiobutton">
                    <p-radioButton
                      value="no"
                      name="cumpleLey"
                      formControlName="cumpleLey"
                      (click)="changeCitaNo()"
                    ></p-radioButton>
                    <label>No</label>
                  </div>
                </div>
              </div>
            </div>

            
            <div *ngIf="varEditor" class="u-mb-10">
              <div class="noti__editor">
                <label>Comentarios</label>
                <p-editor [style]="{ height: '320px' }"></p-editor>
              </div>
              <div class="buttons-content">
                <button class="btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
